In [3]:
# new vers

import requests
import pandas as pd
# from pandasgui import show
from alpha_vantage.alphavantage import AlphaVantage
from alpha_vantage.timeseries import TimeSeries

def display_all(df):
    with pd.option_context("display.max_rows", 100000, "display.max_columns", 100000): 
        display(df)

# ///////////////////////////////////////////////////////////
# FUNCTIONS FOR ALPHA VANTAGE
# ///////////////////////////////////////////////////////////
TIME_SERIES_INTRADAY = 'TIME_SERIES_INTRADAY'
TIME_SERIES_INTRADAY_EXTENDED = 'TIME_SERIES_INTRADAY_EXTENDED'
TIME_SERIES_DAILY = 'TIME_SERIES_DAILY'
TIME_SERIES_DAILY_ADJUSTED = 'TIME_SERIES_DAILY_ADJUSTED'
TIME_SERIES_WEEKLY = 'TIME_SERIES_WEEKLY'
TIME_SERIES_WEEKLY_ADJUSTED = 'TIME_SERIES_WEEKLY_ADJUSTED'
TIME_SERIES_MONTHLY = 'TIME_SERIES_MONTHLY'
TIME_SERIES_MONTHLY_ADJUSTED = 'TIME_SERIES_MONTHLY_ADJUSTED'
GLOBAL_QUOTE = 'GLOBAL_QUOTE'
SYMBOL_SEARCH = 'SYMBOL_SEARCH'
OVERVIEW = 'OVERVIEW'
EARNINGS = 'EARNINGS'
INCOME_STATEMENT = 'INCOME_STATEMENT'
BALANCE_SHEET = 'BALANCE_SHEET'
CASH_FLOW = 'CASH_FLOW'
LISTING_STATUS = 'LISTING_STATUS'
EARNINGS_CALENDAR = 'EARNINGS_CALENDAR'
IPO_CALENDAR = 'IPO_CALENDAR'
CURRENCY_EXCHANGE_RATE = 'CURRENCY_EXCHANGE_RATE'
FX_INTRADAY = 'FX_INTRADAY'
FX_DAILY = 'FX_DAILY'
FX_WEEKLY = 'FX_WEEKLY'
FX_MONTHLY = 'FX_MONTHLY'
CURRENCY_EXCHANGE_RATE = 'CURRENCY_EXCHANGE_RATE'
CRYPTO_RATING = 'CRYPTO_RATING'
CRYPTO_INTRADAY = 'CRYPTO_INTRADAY'
DIGITAL_CURRENCY_DAILY = 'DIGITAL_CURRENCY_DAILY'
DIGITAL_CURRENCY_WEEKLY = 'DIGITAL_CURRENCY_WEEKLY'
DIGITAL_CURRENCY_MONTHLY = 'DIGITAL_CURRENCY_MONTHLY'

# ///////////////////////////////////////////////////////////
# TIME SERIES FOR STOCK DATA
# ///////////////////////////////////////////////////////////
ONEMIN = 'Time Series (1min)'
FIVEMIN = 'Time Series (5min)'
FIVETEENMIN = 'Time Series (15min)'
THIRTYMIN = 'Time Series (30min)'
HOUR = 'Time Series (60min)'
FIVEMIN = 'Time Series (5min)'
DAILY = 'Time Series (Daily)' 
WEEKLY = 'Weekly Time Series'
WEEKLY_ADJ = 'Weekly Adjusted Time Series'
MONTLY = 'Monthly Time Series'
MONTLY_ADJ = 'Monthly Adjusted Time Series'
# /////////////////////////////////////////////////////////
# query fundamental stock data of selected type ///////////
# /////////////////////////////////////////////////////////
def query_fundamental_data(func, symbol, apikey, outputsize='full', datatype='json'):
    data = {
        "function": func,
        "symbol": symbol,
        "outputsize": outputsize, # (full) and (compact) are accepted
        "datatype": datatype,
        "apikey": apikey
    }
    return requests.get("https://www.alphavantage.co/query", data).json()

def get_fundamental_dataframe(json):
    df = pd.DataFrame(json['annualReports'])
    df.set_index('fiscalDateEnding', inplace=True)
    return df

# FOR EARNINGS
def get_fundamental_dataframe1(json):
    df = pd.DataFrame(json['annualEarnings'])
    df.set_index('fiscalDateEnding', inplace=True)
    return df

#For Overview
def get_fundamental_dataframe2(json):
    df = pd.DataFrame(json, index=[1])
#     df.set_index(inplace=True)
    return df

def query_timeseries_data(func, symbol, apikey, outputsize='full', datatype='json'):
    data = {
        "function": func,
        "symbol": symbol,
        "outputsize": outputsize, # (full) and (compact) are accepted
        "datatype": datatype,
        "apikey": apikey
    }
    return requests.get("https://www.alphavantage.co/query", data).json()

def get_timeseries_dataframe(json, type):
    df = pd.DataFrame.from_dict(json[type], orient= 'index')
    df.index =  pd.to_datetime(df.index, format='%Y-%m-%d')
    
    df = df.rename(columns={ '1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Close', '5. volume': 'Volume'})
    df = df.astype({'Open': 'float64', 'High': 'float64', 'Low': 'float64','Close': 'float64','Volume': 'float64',})
    df = df[[ 'Open', 'High', 'Low', 'Close', 'Volume']]
    return df

def get_data(stock, apikey):
    import time

    response_json = query_fundamental_data(INCOME_STATEMENT, stock, apikey)
    INCOME_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(BALANCE_SHEET, stock, apikey)
    BALANCE_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(CASH_FLOW, stock, apikey)
    CASHFLOW_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(EARNINGS, stock, apikey)
    EARNINGS_DATA = get_fundamental_dataframe1(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(OVERVIEW, stock, apikey)
    OVERVIEW_DATA = get_fundamental_dataframe2(response_json)
    time.sleep(12)

    response_json = query_timeseries_data(TIME_SERIES_DAILY, stock, apikey)
    STOCKPRICE_DATA = get_timeseries_dataframe(response_json, DAILY)
    time.sleep(12)
    
    return INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA
# response_json1,response_json2,response_json3,response_json4
# ,INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,EARNINGS_DATA,OVERVIEW_DATA

In [4]:
# TESTING 

stocks = ['AAPL']
API = ['53K56OJAX5T2DQJZ']
for x,y in zip(stocks,API):
    print(x,y)
    INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA = get_data(x,y)

    BALANCE_DATA = BALANCE_DATA.drop(['reportedCurrency'], axis = 1)
    CASHFLOW_DATA = CASHFLOW_DATA.drop(['reportedCurrency','netIncome'], axis = 1)

    # Define percentage change formula for EARNING data
    EARNINGS_DATA = EARNINGS_DATA.apply(pd.to_numeric)
    EARNINGS_DATA['shifted_EPS'] = EARNINGS_DATA.reportedEPS.shift(-1, axis = 0)
    EARNINGS_DATA['EPS_Growth_Rate']= 100*((EARNINGS_DATA['reportedEPS'] - EARNINGS_DATA['shifted_EPS'])/ abs(EARNINGS_DATA['shifted_EPS']))

    EARNINGS_DATA[['EPS_Growth_Avg_Perc']] = EARNINGS_DATA[:6]['EPS_Growth_Rate'].mean()

    # EARNINGS_DATA1 = EARNINGS_DATA1.reset_index(0).reset_index(drop=True)
    # EARNINGS_DATA1
    IBC = pd.merge(pd.merge(pd.merge(INCOME_DATA,BALANCE_DATA,on='fiscalDateEnding')
                            ,CASHFLOW_DATA,on='fiscalDateEnding')
                   ,EARNINGS_DATA,on='fiscalDateEnding')
    IBC = IBC.reset_index(0).reset_index(drop=True)

    IBC.replace('None', value=0, inplace=True)

    # # To replace change type to int after the column of 'reportedcurrency'
    index_no = IBC.columns.get_loc('reportedCurrency')
    index_no_starting = index_no+1
    IBC.iloc[:,index_no_starting:] = IBC.iloc[:,index_no_starting:].apply(pd.to_numeric)


    IBC['TotalDebt_FOR_DERatio'] = IBC['shortTermDebt']+IBC['longTermDebt']
    IBC['D/E Ratio'] = IBC['TotalDebt_FOR_DERatio']/IBC['totalShareholderEquity']

    IBC1 = IBC.copy()
    IBC1= pd.concat([OVERVIEW_DATA.reset_index(drop=True),IBC1.iloc[:1,:]], axis=1)
    IBC1['EntryPrice'] = IBC1['EPS_Growth_Avg_Perc'] * float(IBC1['EPS'])



    price = STOCKPRICE_DATA.iloc[:1,:].reset_index(drop=True)    
    IBC1 = pd.concat([IBC1,price], axis=1)

    IBC1['new_EntryPrice'] = [-x if y <0 else x for x,y in zip(IBC1['EntryPrice'],IBC1['EPS_Growth_Avg_Perc'])]

AAPL 53K56OJAX5T2DQJZ

In [5]:
IBC1

,Symbol,AssetType,Name,Description,CIK,Exchange,Currency,Country,Sector,Industry,...,EPS_Growth_Avg_Perc,TotalDebt_FOR_DERatio,D/E Ratio,EntryPrice,Open,High,Low,Close,Volume,new_EntryPrice
0,AAPL,Common Stock,Apple Inc,Apple Inc. is an American multinational techno...,320193,NASDAQ,USD,USA,TECHNOLOGY,ELECTRONIC COMPUTERS,...,3.718265,140913000000,2.233524,20.859465,172.89,174.14,171.03,172.17,86709147.0,20.859465

In [7]:
# Final 
def extractdata(stock,EarningorRevenue):

    # EarningorRevenue = [0] => Earning Estimate
    # EarningorRevenue = [1] => Revenue Estimate
    headers = {'User-Agent': 'Mozilla/5.0'}

    url = f"https://finance.yahoo.com/quote/{stock}/analysis?p={stock}"

    r = requests.get(url, headers=headers)
    # print(r.text)

    soup = BeautifulSoup(r.text, 'html.parser')
    # print(soup.prettify())
    Estimate_Table = soup.find_all("table", attrs={"class": "W(100%) M(0) BdB Bdc($seperatorColor) Mb(25px)"})
    table_thead = Estimate_Table[EarningorRevenue].thead.find_all("th")
    table_body = Estimate_Table[EarningorRevenue].find("tbody")

    headingitem = []
    table_data = []
    for i in table_thead:
    #     print(i.text)
        headingitem.append(i.text)
    for body in table_body:
        row_list = []
        for row in body:
            for item in row:
                row_list.append(item.text)        
        table_data.append(row_list)
    df = pd.DataFrame(table_data, columns = [headingitem])
    return df

In [11]:
Revenue_Estimate = extractdata('AAPL',1)
Revenue_Estimate

,Revenue Estimate,Current Qtr. (Dec 2021),Next Qtr. (Mar 2022),Current Year (2022),Next Year (2023)
0,No. of Analysts,22,22,36,31
1,Avg. Estimate,118.18B,90.42B,381.81B,401.29B
2,Low Estimate,111.81B,83.26B,359.16B,300.5B
3,High Estimate,121.3B,98.28B,405.44B,445.58B
4,Year Ago Sales,N/A,N/A,365.82B,381.81B
5,Sales Growth (year/est),N/A,N/A,4.40%,5.10%

In [12]:
def changeMoneytoNumbers(df,targetRow,colnum = 3):
    m = {'K': 3, 'M': 6, 'B': 9, 'T': 12}
    col = Revenue_Estimate.columns.to_list()[colnum]
    firstcol = df.columns.to_list()[0]
    df = df[df[firstcol] == targetRow]
    df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]
    return(df)


targetRow = 'Avg. Estimate'
df = Revenue_Estimate
df1 = changeMoneytoNumbers(df,targetRow,colnum = 3)
df1 = changeMoneytoNumbers(df1,targetRow,colnum = 4)
# df1

#  to get analyst value
analystval = df1.iloc[:,-2:].values.tolist()[0]

analystval[0], analystval[1] = analystval[1], analystval[0]
analystval

C:\Users\hayden\AppData\Local\Temp/ipykernel_10664/1351565248.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]

[401290000000, 381810000000]

In [14]:
IBC_DCF = IBC.copy()
IBC_DCF

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,reportedEPS,shifted_EPS,EPS_Growth_Rate,EPS_Growth_Avg_Perc,TotalDebt_FOR_DERatio,D/E Ratio
0,2021-09-30,USD,152836000000,363172000000,234954000000,212981000000,108949000000,21973000000,21914000000,43887000000,...,-84866000000,0,-3860000000,0,5.62,3.2700,71.865443,3.718265,140913000000,2.233524
1,2020-09-30,USD,104956000000,271642000000,189475000000,169559000000,66288000000,19916000000,18752000000,38668000000,...,-71478000000,0,-10435000000,0,3.27,2.9800,9.731544,3.718265,130869000000,2.002923
2,2019-09-30,USD,98392000000,256598000000,180027000000,161782000000,63930000000,18245000000,16217000000,34462000000,...,-66116000000,0,24311000000,0,2.98,2.9700,0.336700,3.718265,123740000000,1.367474
3,2018-09-30,USD,101839000000,265595000000,163756000000,163756000000,70898000000,16705000000,14236000000,30941000000,...,-72069000000,0,5624000000,0,2.97,2.3000,29.130435,3.718265,123948000000,1.156803
4,2017-09-30,USD,88186000000,229234000000,141048000000,141048000000,61344000000,15261000000,11581000000,26842000000,...,-32345000000,0,-195000000,0,2.30,2.0675,11.245466,3.718265,124573000000,0.929323

In [15]:
col = ['fiscalDateEnding','totalRevenue','netIncome','operatingCashflow','capitalExpenditures']
IBC_DCF1 = IBC_DCF[col]
IBC_DCF1['FreeCashFlowToEquity'] = IBC_DCF1['operatingCashflow'] - IBC_DCF1['capitalExpenditures']
IBC_DCF1['FCFE/NetIncome(100%)'] = (IBC_DCF1['FreeCashFlowToEquity'] / IBC_DCF1['netIncome'])*100
IBC_DCF1['Lowest_FCFE/NetIncome(100%)'] = IBC_DCF1['FCFE/NetIncome(100%)'].min()

#create 2 years of blank data
listofna = (len(IBC_DCF1.columns)-1)*[0]
date = ['2025-01-22','2024-01-22','2023-01-22','2022-01-22']
row=[]
for i in date:
    onedate = []
    onedate.append(i)
    for j in listofna:
        onedate.append(j)
    row.append(onedate)
    
# putting blank row into the df    
colss = IBC_DCF1.columns.to_list()
newrow = pd.DataFrame(row,columns = colss).reset_index(drop=True)
IBC_DCF1 = pd.concat([newrow, IBC_DCF1], ignore_index=True, axis=0)

# Replace the analyst avg rating into the df
IBC_DCF1.iloc[2:4,1] = analystval


IBC_DCF1

C:\Users\hayden\AppData\Local\Temp/ipykernel_10664/608080581.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['FreeCashFlowToEquity'] = IBC_DCF1['operatingCashflow'] - IBC_DCF1['capitalExpenditures']
C:\Users\hayden\AppData\Local\Temp/ipykernel_10664/608080581.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['FCFE/NetIncome(100%)'] = (IBC_DCF1['FreeCashFlowToEquity'] / IBC_DCF1['netIncome'])*100
C:\Users\hayden\AppData\Local\Temp/ipykernel_10664/608080581.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['Lowest_FCFE/NetIncome(100%)'] = IBC_DCF1['FCFE/NetIncome(100%)'].min()

,fiscalDateEnding,totalRevenue,netIncome,operatingCashflow,capitalExpenditures,FreeCashFlowToEquity,FCFE/NetIncome(100%),Lowest_FCFE/NetIncome(100%)
0,2025-01-22,0,0,0,0,0,0.000000,0.000000
1,2024-01-22,0,0,0,0,0,0.000000,0.000000
2,2023-01-22,401290000000,0,0,0,0,0.000000,0.000000
3,2022-01-22,381810000000,0,0,0,0,0.000000,0.000000
4,2021-09-30,363172000000,94680000000,104038000000,11085000000,92953000000,98.175961,98.175961
5,2020-09-30,271642000000,57411000000,80674000000,7309000000,73365000000,127.789100,98.175961
6,2019-09-30,256598000000,55256000000,69391000000,10495000000,58896000000,106.587520,98.175961
7,2018-09-30,265595000000,59531000000,77434000000,13313000000,64121000000,107.710269,98.175961
8,2017-09-30,229234000000,48351000000,64225000000,12795000000,51430000000,106.368017,98.175961

In [16]:

def totalrevenueExtension(df,rownum):
    df['totalRevenue'].iloc[rownum] = ( df['totalRevenue'].iloc[rownum+1]*(100 +  df['totalRevenue_Growth_Rate_Mean'].iloc[rownum+1]))/100
    return df

In [17]:
IBC_DCF2 = IBC_DCF1.copy()
IBC_DCF2['shifted_revenue'] = IBC_DCF2.totalRevenue.shift(-1, axis = 0)
IBC_DCF2['totalRevenue_Growth_Rate(100%)']= 100*((IBC_DCF2['totalRevenue'] - IBC_DCF2['shifted_revenue'])/ abs(IBC_DCF2['shifted_revenue']))
IBC_DCF2['totalRevenue_Growth_Rate(100%)'][1] = 0
IBC_DCF2['totalRevenue_Growth_Rate_Mean'] = IBC_DCF2['totalRevenue_Growth_Rate(100%)'].mean()
# IBC_DCF2['totalRevenue'].iloc[1] = ( IBC_DCF2['totalRevenue'].iloc[2]*(100 +  IBC_DCF2['totalRevenue_Growth_Rate_Mean'].iloc[2]))/100
IBC_DCF2 = totalrevenueExtension(IBC_DCF2,1)
IBC_DCF2 = totalrevenueExtension(IBC_DCF2,0)
IBC_DCF2['NetIncomeMargin'] = IBC_DCF2['netIncome'] / IBC_DCF2['totalRevenue']
IBC_DCF2['netIncome'].iloc[:4] = IBC_DCF2['totalRevenue'].iloc[:4] * IBC_DCF2[IBC_DCF2['NetIncomeMargin']>0]['NetIncomeMargin'].mean()
IBC_DCF2['FreeCashFlowToEquity'].iloc[:4] = IBC_DCF2['netIncome'].iloc[:4]* IBC_DCF2[IBC_DCF2['FCFE/NetIncome(100%)']>0]['FCFE/NetIncome(100%)'].min()

IBC_DCF2

C:\Users\hayden\AppData\Local\Temp/ipykernel_10664/3671894814.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF2['totalRevenue_Growth_Rate(100%)'][1] = 0
C:\Users\hayden\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,fiscalDateEnding,totalRevenue,netIncome,operatingCashflow,capitalExpenditures,FreeCashFlowToEquity,FCFE/NetIncome(100%),Lowest_FCFE/NetIncome(100%),shifted_revenue,totalRevenue_Growth_Rate(100%),totalRevenue_Growth_Rate_Mean,NetIncomeMargin
0,2025-01-22,4.758563e+11,1.068257e+11,0,0,1.048772e+13,0.000000,0.000000,0.000000e+00,NaN,8.895205,0.000000
1,2024-01-22,4.369856e+11,9.809958e+10,0,0,9.631021e+12,0.000000,0.000000,4.012900e+11,0.000000,8.895205,0.000000
2,2023-01-22,4.012900e+11,9.008623e+10,0,0,8.844302e+12,0.000000,0.000000,3.818100e+11,5.102014,8.895205,0.000000
3,2022-01-22,3.818100e+11,8.571313e+10,0,0,8.414969e+12,0.000000,0.000000,3.631720e+11,5.132004,8.895205,0.000000
4,2021-09-30,3.631720e+11,9.468000e+10,104038000000,11085000000,9.295300e+10,98.175961,98.175961,2.716420e+11,33.695084,8.895205,0.260703
5,2020-09-30,2.716420e+11,5.741100e+10,80674000000,7309000000,7.336500e+10,127.789100,98.175961,2.565980e+11,5.862867,8.895205,0.211348
6,2019-09-30,2.565980e+11,5.525600e+10,69391000000,10495000000,5.889600e+10,106.587520,98.175961,2.655950e+11,-3.387488,8.895205,0.215341
7,2018-09-30,2.655950e+11,5.953100e+10,77434000000,13313000000,6.412100e+10,107.710269,98.175961,2.292340e+11,15.861958,8.895205,0.224142
8,2017-09-30,2.292340e+11,4.835100e+10,64225000000,12795000000,5.143000e+10,106.368017,98.175961,NaN,NaN,8.895205,0.210924