In [1]:
# Testing for git
import requests
import pandas as pd
# from pandasgui import show
from alpha_vantage.alphavantage import AlphaVantage
from alpha_vantage.timeseries import TimeSeries

In [2]:
def display_all(df):
    with pd.option_context("display.max_rows", 100000, "display.max_columns", 100000): 
        display(df)

In [3]:
# ///////////////////////////////////////////////////////////
# FUNCTIONS FOR ALPHA VANTAGE
# ///////////////////////////////////////////////////////////
TIME_SERIES_INTRADAY = 'TIME_SERIES_INTRADAY'
TIME_SERIES_INTRADAY_EXTENDED = 'TIME_SERIES_INTRADAY_EXTENDED'
TIME_SERIES_DAILY = 'TIME_SERIES_DAILY'
TIME_SERIES_DAILY_ADJUSTED = 'TIME_SERIES_DAILY_ADJUSTED'
TIME_SERIES_WEEKLY = 'TIME_SERIES_WEEKLY'
TIME_SERIES_WEEKLY_ADJUSTED = 'TIME_SERIES_WEEKLY_ADJUSTED'
TIME_SERIES_MONTHLY = 'TIME_SERIES_MONTHLY'
TIME_SERIES_MONTHLY_ADJUSTED = 'TIME_SERIES_MONTHLY_ADJUSTED'
GLOBAL_QUOTE = 'GLOBAL_QUOTE'
SYMBOL_SEARCH = 'SYMBOL_SEARCH'
OVERVIEW = 'OVERVIEW'
EARNINGS = 'EARNINGS'
INCOME_STATEMENT = 'INCOME_STATEMENT'
BALANCE_SHEET = 'BALANCE_SHEET'
CASH_FLOW = 'CASH_FLOW'
LISTING_STATUS = 'LISTING_STATUS'
EARNINGS_CALENDAR = 'EARNINGS_CALENDAR'
IPO_CALENDAR = 'IPO_CALENDAR'
CURRENCY_EXCHANGE_RATE = 'CURRENCY_EXCHANGE_RATE'
FX_INTRADAY = 'FX_INTRADAY'
FX_DAILY = 'FX_DAILY'
FX_WEEKLY = 'FX_WEEKLY'
FX_MONTHLY = 'FX_MONTHLY'
CURRENCY_EXCHANGE_RATE = 'CURRENCY_EXCHANGE_RATE'
CRYPTO_RATING = 'CRYPTO_RATING'
CRYPTO_INTRADAY = 'CRYPTO_INTRADAY'
DIGITAL_CURRENCY_DAILY = 'DIGITAL_CURRENCY_DAILY'
DIGITAL_CURRENCY_WEEKLY = 'DIGITAL_CURRENCY_WEEKLY'
DIGITAL_CURRENCY_MONTHLY = 'DIGITAL_CURRENCY_MONTHLY'

# ///////////////////////////////////////////////////////////
# TIME SERIES FOR STOCK DATA
# ///////////////////////////////////////////////////////////
ONEMIN = 'Time Series (1min)'
FIVEMIN = 'Time Series (5min)'
FIVETEENMIN = 'Time Series (15min)'
THIRTYMIN = 'Time Series (30min)'
HOUR = 'Time Series (60min)'
FIVEMIN = 'Time Series (5min)'
DAILY = 'Time Series (Daily)' 
WEEKLY = 'Weekly Time Series'
WEEKLY_ADJ = 'Weekly Adjusted Time Series'
MONTLY = 'Monthly Time Series'
MONTLY_ADJ = 'Monthly Adjusted Time Series'
# /////////////////////////////////////////////////////////
# query fundamental stock data of selected type ///////////
# /////////////////////////////////////////////////////////
def query_fundamental_data(func, symbol, apikey, outputsize='full', datatype='json'):
    data = {
        "function": func,
        "symbol": symbol,
        "outputsize": outputsize, # (full) and (compact) are accepted
        "datatype": datatype,
        "apikey": apikey
    }
    return requests.get("https://www.alphavantage.co/query", data).json()

def get_fundamental_dataframe(json):
    df = pd.DataFrame(json['annualReports'])
    df.set_index('fiscalDateEnding', inplace=True)
    return df

# FOR EARNINGS
def get_fundamental_dataframe1(json):
    df = pd.DataFrame(json['annualEarnings'])
    df.set_index('fiscalDateEnding', inplace=True)
    return df

#For Overview
def get_fundamental_dataframe2(json):
    df = pd.DataFrame(json, index=[1])
#     df.set_index(inplace=True)
    return df

def query_timeseries_data(func, symbol, apikey, outputsize='full', datatype='json'):
    data = {
        "function": func,
        "symbol": symbol,
        "outputsize": outputsize, # (full) and (compact) are accepted
        "datatype": datatype,
        "apikey": apikey
    }
    return requests.get("https://www.alphavantage.co/query", data).json()

def get_timeseries_dataframe(json, type):
    df = pd.DataFrame.from_dict(json[type], orient= 'index')
    df.index =  pd.to_datetime(df.index, format='%Y-%m-%d')
    
    df = df.rename(columns={ '1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Close', '5. volume': 'Volume'})
    df = df.astype({'Open': 'float64', 'High': 'float64', 'Low': 'float64','Close': 'float64','Volume': 'float64',})
    df = df[[ 'Open', 'High', 'Low', 'Close', 'Volume']]
    return df

def get_data(stock, apikey):
    import time

    response_json = query_fundamental_data(INCOME_STATEMENT, stock, apikey)
    INCOME_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(BALANCE_SHEET, stock, apikey)
    BALANCE_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(CASH_FLOW, stock, apikey)
    CASHFLOW_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(EARNINGS, stock, apikey)
    EARNINGS_DATA = get_fundamental_dataframe1(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(OVERVIEW, stock, apikey)
    OVERVIEW_DATA = get_fundamental_dataframe2(response_json)
    time.sleep(12)

    response_json = query_timeseries_data(TIME_SERIES_DAILY, stock, apikey)
    STOCKPRICE_DATA = get_timeseries_dataframe(response_json, DAILY)
    time.sleep(12)
    
    return INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA
# response_json1,response_json2,response_json3,response_json4
# ,INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,EARNINGS_DATA,OVERVIEW_DATA

In [4]:
#  To define how many stocks per split for one API
import math

# stocksperAPI = 80

def splitdataset(stocks,stocksperAPI):
    times = math.ceil(len(stocks)/stocksperAPI)

    val =[]
    for i in range(1,times):
        val.append(i*stocksperAPI)

    a,b,c,d,e,f = val

    stockeg0 = stocks['Ticker'][:a]
    stockeg1 = stocks['Ticker'][a:b]
    stockeg2 = stocks['Ticker'][b:c]
    stockeg3 = stocks['Ticker'][c:d]
    stockeg4 = stocks['Ticker'][d:e]
    stockeg5 = stocks['Ticker'][e:f]
    stockeg6 = stocks['Ticker'][f:]

    apitouse0 = apitouse[:a]
    apitouse1 = apitouse[a:b]
    apitouse2 = apitouse[b:c]
    apitouse3 = apitouse[c:d]
    apitouse4 = apitouse[d:e]
    apitouse5 = apitouse[e:f]
    apitouse6 = apitouse[f:]
    
    return stockeg0,stockeg1,stockeg2,stockeg3,stockeg4,stockeg5,stockeg6,apitouse0,apitouse1,apitouse2,apitouse3,apitouse4,apitouse5,apitouse6
# apitouse6

In [ ]:
col = 'income'
for i in IBC.columns.to_list():
    x = i.lower()
    if col in x:
        print(i)

In [5]:
def for_one_stock(onestock,oneAPI):
    stock= []
    API = []
    stock.append(onestock)
    API.append(oneAPI)
    return stock,API

In [6]:
for_one_stock('AAPL','53K56OJAX5T2DQJZ')

(['AAPL'], ['53K56OJAX5T2DQJZ'])

In [7]:
# Every 83 stocks change 1 api for 500 stocks
APIs = [
        'GYX11ISSPTSUX78K',
        'LYKZ99FFKIROA5CD',
        'TCQ580R24NR326XY',
        'W73KWACZE3ZXBDHV',
        'CKGAJT5WBGB6ZO4R',
        'XM7WRAS9NGUK7K1D',
        '53K56OJAX5T2DQJZ'
]
# GYX11ISSPTSUX78K
# BHUMOY6ID7RODFGB
# stockeg = stocks['Ticker'][:7]
# 500stocks * 6 API call = 3000 api calls [1 api = 500 calls per day]
# Every 83 stocks change 1 api for 500 stocks

apitouse = []
for i in APIs:
    for j in range(80):
        apitouse.append(i)

In [8]:
stocks = pd.read_csv('sp_500_stocks.csv')
cols = ['Symbol', 'EPS', 'D/E Ratio','EntryPrice','EPS_Growth_Avg_Perc','Price','new_EntryPrice']

In [40]:
def get_final_dataframe(stocks ,API ,cols,num = 1 ,stocksperAPI=80 , mode ='multiple'):
    final_dataframe = pd.DataFrame(columns = cols)
    

    
    if mode == 'single':
        stocks, API = for_one_stock(stocks,API)
    if mode == 'multiple':
        stockeg0,stockeg1,stockeg2,stockeg3,stockeg4,stockeg5,stockeg6,apitouse0,apitouse1,apitouse2,apitouse3,apitouse4,apitouse5,apitouse6 = splitdataset(stocks,stocksperAPI)
        x=locals()
        stocks = x[f'stockeg{num}']
        API = x[f'apitouse{num}']
        
#     print(stocks,API,mode)
    for x,y in zip(stocks,API):
        print(x,y)
        INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA = get_data(x,y)

        BALANCE_DATA = BALANCE_DATA.drop(['reportedCurrency'], axis = 1)
        CASHFLOW_DATA = CASHFLOW_DATA.drop(['reportedCurrency','netIncome'], axis = 1)

        # Define percentage change formula for EARNING data
        EARNINGS_DATA = EARNINGS_DATA.apply(pd.to_numeric)
        EARNINGS_DATA['shifted_EPS'] = EARNINGS_DATA.reportedEPS.shift(-1, axis = 0)
        EARNINGS_DATA['EPS_Growth_Rate']= 100*((EARNINGS_DATA['reportedEPS'] - EARNINGS_DATA['shifted_EPS'])/ abs(EARNINGS_DATA['shifted_EPS']))

        EARNINGS_DATA[['EPS_Growth_Avg_Perc']] = EARNINGS_DATA[:6]['EPS_Growth_Rate'].mean()

        # EARNINGS_DATA1 = EARNINGS_DATA1.reset_index(0).reset_index(drop=True)
        # EARNINGS_DATA1
        IBC = pd.merge(pd.merge(pd.merge(INCOME_DATA,BALANCE_DATA,on='fiscalDateEnding')
                                ,CASHFLOW_DATA,on='fiscalDateEnding')
                       ,EARNINGS_DATA,on='fiscalDateEnding')
        IBC = IBC.reset_index(0).reset_index(drop=True)

        IBC.replace('None', value=0, inplace=True)

        # # To replace change type to int after the column of 'reportedcurrency'
        index_no = IBC.columns.get_loc('reportedCurrency')
        index_no_starting = index_no+1
        IBC.iloc[:,index_no_starting:] = IBC.iloc[:,index_no_starting:].apply(pd.to_numeric)


        IBC['TotalDebt_FOR_DERatio'] = IBC['shortTermDebt']+IBC['longTermDebt']
        IBC['D/E Ratio'] = IBC['TotalDebt_FOR_DERatio']/IBC['totalShareholderEquity']

        IBC= pd.concat([OVERVIEW_DATA.reset_index(drop=True),IBC.iloc[:1,:]], axis=1)
        IBC['EntryPrice'] = IBC['EPS_Growth_Avg_Perc'] * float(IBC['EPS'])



        price = STOCKPRICE_DATA.iloc[:1,:].reset_index(drop=True)    
        IBC = pd.concat([IBC,price], axis=1)

        IBC['new_EntryPrice'] = [-x if y <0 else x for x,y in zip(IBC['EntryPrice'],IBC['EPS_Growth_Avg_Perc'])]

        IBC = IBC[['Symbol','EPS','D/E Ratio','EntryPrice','EPS_Growth_Avg_Perc','Close','new_EntryPrice']]

        final_dataframe= final_dataframe.append(
            pd.Series(
                IBC.loc[0, :].values.tolist(),index = cols
            ), ignore_index = True)
        
    return final_dataframe

In [50]:
df0 = get_final_dataframe(stocks ,apitouse ,cols,num = 0 , mode ='multiple')
df0

A BHUMOY6ID7RODFGB
AAL BHUMOY6ID7RODFGB
AAP BHUMOY6ID7RODFGB
AAPL BHUMOY6ID7RODFGB
ABBV BHUMOY6ID7RODFGB
ABC BHUMOY6ID7RODFGB
ABMD BHUMOY6ID7RODFGB
ABT BHUMOY6ID7RODFGB
ACN BHUMOY6ID7RODFGB
ADBE BHUMOY6ID7RODFGB
ADI BHUMOY6ID7RODFGB
ADM BHUMOY6ID7RODFGB
ADP BHUMOY6ID7RODFGB
ADSK BHUMOY6ID7RODFGB
AEE BHUMOY6ID7RODFGB
AEP BHUMOY6ID7RODFGB
AES BHUMOY6ID7RODFGB
AFL BHUMOY6ID7RODFGB
AIG BHUMOY6ID7RODFGB
AIV BHUMOY6ID7RODFGB
AIZ BHUMOY6ID7RODFGB
AJG BHUMOY6ID7RODFGB
AKAM BHUMOY6ID7RODFGB
ALB BHUMOY6ID7RODFGB
ALGN BHUMOY6ID7RODFGB
ALK BHUMOY6ID7RODFGB
ALL BHUMOY6ID7RODFGB
ALLE BHUMOY6ID7RODFGB
ALXN BHUMOY6ID7RODFGB

KeyError: 'annualReports'

In [33]:
df = get_final_dataframe(stocks ,apitouse ,cols,num = 6 , mode ='multiple')

WEC 53K56OJAX5T2DQJZ
WELL 53K56OJAX5T2DQJZ
WFC 53K56OJAX5T2DQJZ
WHR 53K56OJAX5T2DQJZ
WLTW 53K56OJAX5T2DQJZ
WM 53K56OJAX5T2DQJZ
WMB 53K56OJAX5T2DQJZ
WMT 53K56OJAX5T2DQJZ
WRB 53K56OJAX5T2DQJZ
WRK 53K56OJAX5T2DQJZ
WST 53K56OJAX5T2DQJZ
WU 53K56OJAX5T2DQJZ
WY 53K56OJAX5T2DQJZ
WYNN 53K56OJAX5T2DQJZ
XEL 53K56OJAX5T2DQJZ
XLNX 53K56OJAX5T2DQJZ
XOM 53K56OJAX5T2DQJZ
XRAY 53K56OJAX5T2DQJZ
XRX 53K56OJAX5T2DQJZ
XYL 53K56OJAX5T2DQJZ
YUM 53K56OJAX5T2DQJZ
ZBH 53K56OJAX5T2DQJZ
ZBRA 53K56OJAX5T2DQJZ
ZION 53K56OJAX5T2DQJZ
ZTS 53K56OJAX5T2DQJZ

In [34]:
df

,Symbol,EPS,D/E Ratio,EntryPrice,EPS_Growth_Avg_Perc,Price,new_EntryPrice
0,WEC,4.15,1.354978,16.347710,3.939207,93.48,16.347710
1,WELL,1.035,3.260360,-1.575056,-1.521793,82.71,1.575056
2,WFC,4.192,1.472542,47.220329,11.264391,50.20,47.220329
3,WHR,31.35,1.381982,280.655564,8.952331,230.03,280.655564
4,WLTW,17.65,0.832440,497.597355,28.192485,233.77,497.597355
5,WM,4.12,1.932770,25.877127,6.280856,164.72,25.877127
6,WMB,0.82,2.451950,8.898623,10.851980,26.64,8.898623
7,WMT,2.84,0.550300,4.178642,1.471353,141.03,4.178642
8,WRB,5.57,0.174927,54.149689,9.721668,80.94,54.149689
9,WRK,3.13,0.702133,6.692087,2.138047,43.62,6.692087
10,WST,8.06,0.144298,196.913147,24.430912,431.57,196.913147
11,WU,1.969,16.437299,-1.424237,-0.723330,18.21,1.424237
12,WY,3.311,0.627076,176.574240,53.329580,40.02,176.574240
13,WYNN,-7.59,-38.813336,936.427467,-123.376478,87.58,-936.427467
14,XEL,2.924,1.416810,7.059765,2.414420,66.51,7.059765
15,XLNX,3.219,0.520668,5.974422,1.855987,217.18,5.974422
16,XOM,-1.386,0.213096,-236.419513,170.576849,63.01,-236.419513
17,XRAY,1.902,0.460439,-3.239850,-1.703391,53.29,3.239850
18,XRX,1.459,0.809907,-12.580711,-8.622831,21.15,12.580711
19,XYL,2.549,1.039084,4.630784,1.816706,122.80,4.630784
20,YUM,5.18,-2.768597,10.281803,1.984904,133.87,10.281803
21,ZBH,3.914,0.788818,-11.732908,-2.997677,124.49,11.732908
22,ZBRA,15.68,1.164646,291.550370,18.593774,614.55,291.550370
23,ZION,7.08,0.368755,233.056438,32.917576,63.21,233.056438
24,ZTS,4.149,2.460600,56.574014,13.635578,231.45,56.574014

# The Only Stock

In [49]:
theonlystock = get_final_dataframe('AAPL' ,'53K56OJAX5T2DQJZ' ,cols,num = 6 , mode ='single')
theonlystock

AAPL 53K56OJAX5T2DQJZ

,Symbol,EPS,D/E Ratio,EntryPrice,EPS_Growth_Avg_Perc,Price,new_EntryPrice
0,AAPL,5.61,2.233524,104.907834,18.700149,179.45,104.907834

In [54]:
 
theonlystock = get_final_dataframe('ALXN' ,'BHUMOY6ID7RODFGB' ,cols,num = 6 , mode ='single')
theonlystock

ALXN BHUMOY6ID7RODFGB

KeyError: 'annualReports'

In [57]:
stocks[27:30]

   Ticker
27   ALLE
28   ALXN
29   AMAT

In [59]:
aaa = stocks[:2]
aaa

  Ticker
0      A
1    AAL

In [61]:
df_test = get_final_dataframe(stocks ,apitouse ,cols,num = 6 , mode ='multiple')

WEC 53K56OJAX5T2DQJZ

KeyboardInterrupt:

In [62]:
stockeg6

NameError: name 'stockeg6' is not defined

# For Few stocks

In [65]:
# splitdataset()
stockeg0,stockeg1,stockeg2,stockeg3,stockeg4,stockeg5,stockeg6,apitouse0,apitouse1,apitouse2,apitouse3,apitouse4,apitouse5,apitouse6 = splitdataset(stocks,80)

In [289]:
def APIlist_forfewstocks(API,length):
    APIlist_forfewstocks=[]
    APIlist_forfewstocks.append(API)
    APIlist_forfewstocks = APIlist_forfewstocks*length
    return APIlist_forfewstocks
# APIlist_forfewstocks(qqq,4)

In [371]:
def get_final_dataframe(stocks ,API ,cols,num = 1 ,stocksperAPI=80 , mode ='few'):
    final_dataframe = pd.DataFrame(columns = cols)
    empty = []

    
    if mode == 'single':
        stocks, API = for_one_stock(stocks,API)
        
    if mode == 'few':
        stocks = stocks
        API = APIlist_forfewstocks(API,len(stocks))


    if mode == 'multiple':
        stockeg0,stockeg1,stockeg2,stockeg3,stockeg4,stockeg5,stockeg6,apitouse0,apitouse1,apitouse2,apitouse3,apitouse4,apitouse5,apitouse6 = splitdataset(stocks,stocksperAPI)
        x=locals()
        stocks = x[f'stockeg{num}']
        API = x[f'apitouse{num}']
        
#     print(stocks,API,mode)

    for x,y in zip(stocks,API):
        try:
            print(x,y)
            INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA = get_data(x,y)

            BALANCE_DATA = BALANCE_DATA.drop(['reportedCurrency'], axis = 1)
            CASHFLOW_DATA = CASHFLOW_DATA.drop(['reportedCurrency','netIncome'], axis = 1)

            # Define percentage change formula for EARNING data
            EARNINGS_DATA = EARNINGS_DATA.apply(pd.to_numeric)
            EARNINGS_DATA['shifted_EPS'] = EARNINGS_DATA.reportedEPS.shift(-1, axis = 0)
            EARNINGS_DATA['EPS_Growth_Rate']= 100*((EARNINGS_DATA['reportedEPS'] - EARNINGS_DATA['shifted_EPS'])/ abs(EARNINGS_DATA['shifted_EPS']))

            EARNINGS_DATA[['EPS_Growth_Avg_Perc']] = EARNINGS_DATA[:6]['EPS_Growth_Rate'].mean()

            # EARNINGS_DATA1 = EARNINGS_DATA1.reset_index(0).reset_index(drop=True)
            # EARNINGS_DATA1
            IBC = pd.merge(pd.merge(pd.merge(INCOME_DATA,BALANCE_DATA,on='fiscalDateEnding')
                                    ,CASHFLOW_DATA,on='fiscalDateEnding')
                           ,EARNINGS_DATA,on='fiscalDateEnding')
            IBC = IBC.reset_index(0).reset_index(drop=True)

            IBC.replace('None', value=0, inplace=True)

            # # To replace change type to int after the column of 'reportedcurrency'
            index_no = IBC.columns.get_loc('reportedCurrency')
            index_no_starting = index_no+1
            IBC.iloc[:,index_no_starting:] = IBC.iloc[:,index_no_starting:].apply(pd.to_numeric)


            IBC['TotalDebt_FOR_DERatio'] = IBC['shortTermDebt']+IBC['longTermDebt']
            IBC['D/E Ratio'] = IBC['TotalDebt_FOR_DERatio']/IBC['totalShareholderEquity']

            IBC= pd.concat([OVERVIEW_DATA.reset_index(drop=True),IBC.iloc[:1,:]], axis=1)
            IBC['EntryPrice'] = IBC['EPS_Growth_Avg_Perc'] * float(IBC['EPS'])



            price = STOCKPRICE_DATA.iloc[:1,:].reset_index(drop=True)    
            IBC = pd.concat([IBC,price], axis=1)

            IBC['new_EntryPrice'] = [-x if y <0 else x for x,y in zip(IBC['EntryPrice'],IBC['EPS_Growth_Avg_Perc'])]

            IBC = IBC[['Symbol','EPS','D/E Ratio','EntryPrice','EPS_Growth_Avg_Perc','Close','new_EntryPrice']]

            final_dataframe= final_dataframe.append(
                pd.Series(
                    IBC.loc[0, :].values.tolist(),index = cols
                ), ignore_index = True)
        except:
#             pass
            
            empty.append(x)
            continue
    
    return final_dataframe,empty

In [353]:
# fewstocks = ['AAPL','ALXN','asd','MSFT','hjgftu']
fewstocks = ['AAPL','aaaa','MSFT','asd','TSLA','NET','ALXN','TSM','hjgftu','F']

In [354]:
stocks = fewstocks
stocks
API

['TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY']

In [378]:
# for one stock
stock = 'PYPL'
df123,_ = get_final_dataframe(stocks = stock,API = 'TCQ580R24NR326XY', cols=cols,mode ='single')

PYPL TCQ580R24NR326XY

In [361]:
df123

,Symbol,EPS,D/E Ratio,EntryPrice,EPS_Growth_Avg_Perc,Price,new_EntryPrice
0,PYPL,4.159,3.112943,81.098327,19.499477,188.51,81.098327

In [376]:
# For Some Stocks
fewstocks = ['AAPL','aaaa','MSFT','asd','TSLA','NET','ALXN','TSM','hjgftu','F']

df123, skpcols = get_final_dataframe(stocks = fewstocks,API = 'TCQ580R24NR326XY', cols=cols,mode ='few')

AAPL TCQ580R24NR326XY
aaaa TCQ580R24NR326XY
MSFT TCQ580R24NR326XY
asd TCQ580R24NR326XY
TSLA TCQ580R24NR326XY
NET TCQ580R24NR326XY
ALXN TCQ580R24NR326XY
TSM TCQ580R24NR326XY
hjgftu TCQ580R24NR326XY
F TCQ580R24NR326XY

In [377]:
df123

Empty DataFrame
Columns: [Symbol, EPS, D/E Ratio, EntryPrice, EPS_Growth_Avg_Perc, Price, new_EntryPrice]
Index: []

In [362]:
stocks

['AAPL', 'aaaa', 'MSFT', 'asd', 'TSLA', 'NET', 'ALXN', 'TSM', 'hjgftu', 'F']

In [ ]:
stocks = pd.read_csv('sp_500_stocks.csv')
cols = ['Symbol', 'EPS', 'D/E Ratio','EntryPrice','EPS_Growth_Avg_Perc','Price','new_EntryPrice']

In [367]:
apitouse

['BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'BHUMOY6ID7RODFGB',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'LYKZ99FFKIROA5CD',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'TCQ580R24NR326XY',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'W73KWACZE3ZXBDHV',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'CKGAJT5WBGB6ZO4R',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 'XM7WRAS9NGUK7K1D',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ',
 '53K56OJAX5T2DQJZ']

In [374]:
df123,zzz = get_final_dataframe(stocks = stocks,API =apitouse ,num=0 ,cols=cols,mode ='multiple')

A GYX11ISSPTSUX78K
AAL GYX11ISSPTSUX78K
AAP GYX11ISSPTSUX78K
AAPL GYX11ISSPTSUX78K
ABBV GYX11ISSPTSUX78K
ABC GYX11ISSPTSUX78K
ABMD GYX11ISSPTSUX78K
ABT GYX11ISSPTSUX78K
ACN GYX11ISSPTSUX78K
ADBE GYX11ISSPTSUX78K
ADI GYX11ISSPTSUX78K
ADM GYX11ISSPTSUX78K
ADP GYX11ISSPTSUX78K
ADSK GYX11ISSPTSUX78K
AEE GYX11ISSPTSUX78K
AEP GYX11ISSPTSUX78K
AES GYX11ISSPTSUX78K
AFL GYX11ISSPTSUX78K
AIG GYX11ISSPTSUX78K
AIV GYX11ISSPTSUX78K
AIZ GYX11ISSPTSUX78K
AJG GYX11ISSPTSUX78K
AKAM GYX11ISSPTSUX78K
ALB GYX11ISSPTSUX78K
ALGN GYX11ISSPTSUX78K
ALK GYX11ISSPTSUX78K
ALL GYX11ISSPTSUX78K
ALLE GYX11ISSPTSUX78K
ALXN GYX11ISSPTSUX78K
AMAT GYX11ISSPTSUX78K
AMCR GYX11ISSPTSUX78K
AMD GYX11ISSPTSUX78K
AME GYX11ISSPTSUX78K
AMGN GYX11ISSPTSUX78K
AMP GYX11ISSPTSUX78K
AMT GYX11ISSPTSUX78K
AMZN GYX11ISSPTSUX78K
ANET GYX11ISSPTSUX78K
ANSS GYX11ISSPTSUX78K
ANTM GYX11ISSPTSUX78K
AON GYX11ISSPTSUX78K
AOS GYX11ISSPTSUX78K
APA GYX11ISSPTSUX78K
APD GYX11ISSPTSUX78K
APH GYX11ISSPTSUX78K
APTV GYX11ISSPTSUX78K
ARE GYX11ISSPTSUX78K
ATO GYX11ISSPTSUX78K
ATVI GYX11ISSPTSUX78K
AVB GYX11ISSPTSUX78K
AVGO GYX11ISSPTSUX78K
AVY GYX11ISSPTSUX78K
AWK GYX11ISSPTSUX78K
AXP GYX11ISSPTSUX78K
AZO GYX11ISSPTSUX78K
BA GYX11ISSPTSUX78K
BAC GYX11ISSPTSUX78K
BAX GYX11ISSPTSUX78K
BBY GYX11ISSPTSUX78K
BDX GYX11ISSPTSUX78K
BEN GYX11ISSPTSUX78K
BF.B GYX11ISSPTSUX78K
BIIB GYX11ISSPTSUX78K
BIO GYX11ISSPTSUX78K
BK GYX11ISSPTSUX78K
BKNG GYX11ISSPTSUX78K
BKR GYX11ISSPTSUX78K
BLK GYX11ISSPTSUX78K
BLL GYX11ISSPTSUX78K
BMY GYX11ISSPTSUX78K
BR GYX11ISSPTSUX78K
BRK.B GYX11ISSPTSUX78K
BSX GYX11ISSPTSUX78K
BWA GYX11ISSPTSUX78K
BXP GYX11ISSPTSUX78K
C GYX11ISSPTSUX78K
CAG GYX11ISSPTSUX78K
CAH GYX11ISSPTSUX78K
CARR GYX11ISSPTSUX78K
CAT GYX11ISSPTSUX78K

In [375]:
df123

Empty DataFrame
Columns: [Symbol, EPS, D/E Ratio, EntryPrice, EPS_Growth_Avg_Perc, Price, new_EntryPrice]
Index: []

In [379]:
INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA = get_data('BA','GYX11ISSPTSUX78K')

BALANCE_DATA = BALANCE_DATA.drop(['reportedCurrency'], axis = 1)
CASHFLOW_DATA = CASHFLOW_DATA.drop(['reportedCurrency','netIncome'], axis = 1)

# Define percentage change formula for EARNING data
EARNINGS_DATA = EARNINGS_DATA.apply(pd.to_numeric)
EARNINGS_DATA['shifted_EPS'] = EARNINGS_DATA.reportedEPS.shift(-1, axis = 0)
EARNINGS_DATA['EPS_Growth_Rate']= 100*((EARNINGS_DATA['reportedEPS'] - EARNINGS_DATA['shifted_EPS'])/ abs(EARNINGS_DATA['shifted_EPS']))

EARNINGS_DATA[['EPS_Growth_Avg_Perc']] = EARNINGS_DATA[:6]['EPS_Growth_Rate'].mean()

# EARNINGS_DATA1 = EARNINGS_DATA1.reset_index(0).reset_index(drop=True)
# EARNINGS_DATA1
IBC = pd.merge(pd.merge(pd.merge(INCOME_DATA,BALANCE_DATA,on='fiscalDateEnding')
                        ,CASHFLOW_DATA,on='fiscalDateEnding')
               ,EARNINGS_DATA,on='fiscalDateEnding')
IBC = IBC.reset_index(0).reset_index(drop=True)

IBC.replace('None', value=0, inplace=True)

# # To replace change type to int after the column of 'reportedcurrency'
index_no = IBC.columns.get_loc('reportedCurrency')
index_no_starting = index_no+1
IBC.iloc[:,index_no_starting:] = IBC.iloc[:,index_no_starting:].apply(pd.to_numeric)


IBC['TotalDebt_FOR_DERatio'] = IBC['shortTermDebt']+IBC['longTermDebt']
IBC['D/E Ratio'] = IBC['TotalDebt_FOR_DERatio']/IBC['totalShareholderEquity']

IBC= pd.concat([OVERVIEW_DATA.reset_index(drop=True),IBC.iloc[:1,:]], axis=1)
IBC['EntryPrice'] = IBC['EPS_Growth_Avg_Perc'] * float(IBC['EPS'])



price = STOCKPRICE_DATA.iloc[:1,:].reset_index(drop=True)    
IBC = pd.concat([IBC,price], axis=1)

IBC['new_EntryPrice'] = [-x if y <0 else x for x,y in zip(IBC['EntryPrice'],IBC['EPS_Growth_Avg_Perc'])]

IBC = IBC[['Symbol','EPS','D/E Ratio','EntryPrice','EPS_Growth_Avg_Perc','Close','new_EntryPrice']]

final_dataframe= final_dataframe.append(
    pd.Series(
        IBC.loc[0, :].values.tolist(),index = cols
    ), ignore_index = True)

KeyError: 'annualReports'

In [381]:
response_json = query_fundamental_data(INCOME_STATEMENT, 'BA','GYX11ISSPTSUX78K')
INCOME_DATA = get_fundamental_dataframe(response_json)

KeyError: 'annualReports'

In [1]:
response_json = query_fundamental_data(BALANCE_SHEET, 'BA','VSKYXR95BsasfdQ62GK7N')
BALANCE_DATA = get_fundamental_dataframe(response_json)

NameError: name 'query_fundamental_data' is not defined

In [4]:
# TESTING 

stocks = ['AAPL']
API = ['53K56OJAX5T2DQJZ']
for x,y in zip(stocks,API):
    print(x,y)
    INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA = get_data(x,y)

    BALANCE_DATA = BALANCE_DATA.drop(['reportedCurrency'], axis = 1)
    CASHFLOW_DATA = CASHFLOW_DATA.drop(['reportedCurrency','netIncome'], axis = 1)

    # Define percentage change formula for EARNING data
    EARNINGS_DATA = EARNINGS_DATA.apply(pd.to_numeric)
    EARNINGS_DATA['shifted_EPS'] = EARNINGS_DATA.reportedEPS.shift(-1, axis = 0)
    EARNINGS_DATA['EPS_Growth_Rate']= 100*((EARNINGS_DATA['reportedEPS'] - EARNINGS_DATA['shifted_EPS'])/ abs(EARNINGS_DATA['shifted_EPS']))

    EARNINGS_DATA[['EPS_Growth_Avg_Perc']] = EARNINGS_DATA[:6]['EPS_Growth_Rate'].mean()

    # EARNINGS_DATA1 = EARNINGS_DATA1.reset_index(0).reset_index(drop=True)
    # EARNINGS_DATA1
    IBC = pd.merge(pd.merge(pd.merge(INCOME_DATA,BALANCE_DATA,on='fiscalDateEnding')
                            ,CASHFLOW_DATA,on='fiscalDateEnding')
                   ,EARNINGS_DATA,on='fiscalDateEnding')
    IBC = IBC.reset_index(0).reset_index(drop=True)

    IBC.replace('None', value=0, inplace=True)

    # # To replace change type to int after the column of 'reportedcurrency'
    index_no = IBC.columns.get_loc('reportedCurrency')
    index_no_starting = index_no+1
    IBC.iloc[:,index_no_starting:] = IBC.iloc[:,index_no_starting:].apply(pd.to_numeric)


    IBC['TotalDebt_FOR_DERatio'] = IBC['shortTermDebt']+IBC['longTermDebt']
    IBC['D/E Ratio'] = IBC['TotalDebt_FOR_DERatio']/IBC['totalShareholderEquity']

    IBC1 = IBC.copy()
    IBC1= pd.concat([OVERVIEW_DATA.reset_index(drop=True),IBC1.iloc[:1,:]], axis=1)
    IBC1['EntryPrice'] = IBC1['EPS_Growth_Avg_Perc'] * float(IBC1['EPS'])



    price = STOCKPRICE_DATA.iloc[:1,:].reset_index(drop=True)    
    IBC1 = pd.concat([IBC1,price], axis=1)

    IBC1['new_EntryPrice'] = [-x if y <0 else x for x,y in zip(IBC1['EntryPrice'],IBC1['EPS_Growth_Avg_Perc'])]

AAPL 53K56OJAX5T2DQJZ

In [5]:

IBC_DCF = IBC.copy()
IBC_DCF

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,reportedEPS,shifted_EPS,EPS_Growth_Rate,EPS_Growth_Avg_Perc,TotalDebt_FOR_DERatio,D/E Ratio
0,2021-09-30,USD,152836000000,363172000000,234954000000,212981000000,108949000000,21973000000,21914000000,43887000000,...,-84866000000,0,-3860000000,0,5.62,3.2700,71.865443,18.700149,140913000000,2.233524
1,2020-09-30,USD,104956000000,271642000000,189475000000,169559000000,66288000000,19916000000,18752000000,38668000000,...,-71478000000,0,-10435000000,0,3.27,2.9800,9.731544,18.700149,130869000000,2.002923
2,2019-09-30,USD,98392000000,256598000000,180027000000,161782000000,63930000000,18245000000,16217000000,34462000000,...,-66116000000,0,24311000000,0,2.98,2.9700,0.336700,18.700149,123740000000,1.367474
3,2018-09-30,USD,101839000000,265595000000,163756000000,163756000000,70898000000,16705000000,14236000000,30941000000,...,-72069000000,0,5624000000,0,2.97,2.3000,29.130435,18.700149,123948000000,1.156803
4,2017-09-30,USD,88186000000,229234000000,141048000000,141048000000,61344000000,15261000000,11581000000,26842000000,...,-32345000000,0,-195000000,0,2.30,2.0675,11.245466,18.700149,124573000000,0.929323

In [6]:
col = 'revenue'
for i in IBC.columns.to_list():
    x = i.lower()
    if col in x:
        print(i)

totalRevenue
costOfRevenue
deferredRevenue

In [126]:
def changeMoneytoNumbers(df,targetRow,colnum = 3):
    m = {'K': 3, 'M': 6, 'B': 9, 'T': 12}
    col = Revenue_Estimate.columns.to_list()[colnum]
    firstcol = df.columns.to_list()[0]
    df = df[df[firstcol] == targetRow]
    df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]
    return(df)


targetRow = 'Avg. Estimate'
df = Revenue_Estimate
df1 = changeMoneytoNumbers(df,targetRow,colnum = 3)
df1 = changeMoneytoNumbers(df1,targetRow,colnum = 4)
# df1

#  to get analyst value
analystval = df1.iloc[:,-2:].values.tolist()[0]

analystval[0], analystval[1] = analystval[1], analystval[0]
analystval

<ipython-input-126-0fbe3bb70d92>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]

[401200000000, 381720000000]

In [133]:
col = ['fiscalDateEnding','totalRevenue','netIncome','operatingCashflow','capitalExpenditures']
IBC_DCF1 = IBC_DCF[col]
IBC_DCF1['FreeCashFlowToEquity'] = IBC_DCF1['operatingCashflow'] - IBC_DCF1['capitalExpenditures']
IBC_DCF1['FCFE/NetIncome(100%)'] = (IBC_DCF1['FreeCashFlowToEquity'] / IBC_DCF1['netIncome'])*100
IBC_DCF1['Lowest_FCFE/NetIncome(100%)'] = IBC_DCF1['FCFE/NetIncome(100%)'].min()

#create 2 years of blank data
listofna = (len(IBC_DCF1.columns)-1)*[0]
date = ['2025-01-22','2024-01-22','2023-01-22','2022-01-22']
row=[]
for i in date:
    onedate = []
    onedate.append(i)
    for j in listofna:
        onedate.append(j)
    row.append(onedate)
    
# putting blank row into the df    
colss = IBC_DCF1.columns.to_list()
newrow = pd.DataFrame(row,columns = colss).reset_index(drop=True)
IBC_DCF1 = pd.concat([newrow, IBC_DCF1], ignore_index=True, axis=0)

# Replace the analyst avg rating into the df
IBC_DCF1.iloc[2:4,1] = analystval


IBC_DCF1

<ipython-input-133-c9bbf3a1ac87>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['FreeCashFlowToEquity'] = IBC_DCF1['operatingCashflow'] - IBC_DCF1['capitalExpenditures']
<ipython-input-133-c9bbf3a1ac87>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['FCFE/NetIncome(100%)'] = (IBC_DCF1['FreeCashFlowToEquity'] / IBC_DCF1['netIncome'])*100
<ipython-input-133-c9bbf3a1ac87>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['Lowest_FCFE/NetIncome(100%)'] = IBC_DCF1['FCFE/NetIncome(100%)'].min()

,fiscalDateEnding,totalRevenue,netIncome,operatingCashflow,capitalExpenditures,FreeCashFlowToEquity,FCFE/NetIncome(100%),Lowest_FCFE/NetIncome(100%)
0,2025-01-22,0,0,0,0,0,0.000000,0.000000
1,2024-01-22,0,0,0,0,0,0.000000,0.000000
2,2023-01-22,401200000000,0,0,0,0,0.000000,0.000000
3,2022-01-22,381720000000,0,0,0,0,0.000000,0.000000
4,2021-09-30,363172000000,94680000000,104038000000,11085000000,92953000000,98.175961,98.175961
5,2020-09-30,271642000000,57411000000,80674000000,7309000000,73365000000,127.789100,98.175961
6,2019-09-30,256598000000,55256000000,69391000000,10495000000,58896000000,106.587520,98.175961
7,2018-09-30,265595000000,59531000000,77434000000,13313000000,64121000000,107.710269,98.175961
8,2017-09-30,229234000000,48351000000,64225000000,12795000000,51430000000,106.368017,98.175961

In [167]:
IBC_DCF2 = IBC_DCF1.copy()
IBC_DCF2

,fiscalDateEnding,totalRevenue,netIncome,operatingCashflow,capitalExpenditures,FreeCashFlowToEquity,FCFE/NetIncome(100%),Lowest_FCFE/NetIncome(100%)
0,2025-01-22,0,0,0,0,0,0.000000,0.000000
1,2024-01-22,0,0,0,0,0,0.000000,0.000000
2,2023-01-22,401200000000,0,0,0,0,0.000000,0.000000
3,2022-01-22,381720000000,0,0,0,0,0.000000,0.000000
4,2021-09-30,363172000000,94680000000,104038000000,11085000000,92953000000,98.175961,98.175961
5,2020-09-30,271642000000,57411000000,80674000000,7309000000,73365000000,127.789100,98.175961
6,2019-09-30,256598000000,55256000000,69391000000,10495000000,58896000000,106.587520,98.175961
7,2018-09-30,265595000000,59531000000,77434000000,13313000000,64121000000,107.710269,98.175961
8,2017-09-30,229234000000,48351000000,64225000000,12795000000,51430000000,106.368017,98.175961

In [170]:

def totalrevenueExtension(df,rownum):
    df['totalRevenue'].iloc[rownum] = ( df['totalRevenue'].iloc[rownum+1]*(100 +  df['totalRevenue_Growth_Rate_Mean'].iloc[rownum+1]))/100
    return df

In [184]:
IBC_DCF2 = IBC_DCF1.copy()
IBC_DCF2['shifted_revenue'] = IBC_DCF2.totalRevenue.shift(-1, axis = 0)
IBC_DCF2['totalRevenue_Growth_Rate(100%)']= 100*((IBC_DCF2['totalRevenue'] - IBC_DCF2['shifted_revenue'])/ abs(IBC_DCF2['shifted_revenue']))
IBC_DCF2['totalRevenue_Growth_Rate(100%)'][1] = 0
IBC_DCF2['totalRevenue_Growth_Rate_Mean'] = IBC_DCF2['totalRevenue_Growth_Rate(100%)'].mean()
# IBC_DCF2['totalRevenue'].iloc[1] = ( IBC_DCF2['totalRevenue'].iloc[2]*(100 +  IBC_DCF2['totalRevenue_Growth_Rate_Mean'].iloc[2]))/100
IBC_DCF2 = totalrevenueExtension(IBC_DCF2,1)
IBC_DCF2 = totalrevenueExtension(IBC_DCF2,0)
IBC_DCF2['NetIncomeMargin'] = IBC_DCF2['netIncome'] / IBC_DCF2['totalRevenue']
IBC_DCF2['netIncome'].iloc[:4] = IBC_DCF2['totalRevenue'].iloc[:4] * IBC_DCF2[IBC_DCF2['NetIncomeMargin']>0]['NetIncomeMargin'].mean()
IBC_DCF2['FreeCashFlowToEquity'].iloc[:4] = IBC_DCF2['netIncome'].iloc[:4]* IBC_DCF2[IBC_DCF2['FCFE/NetIncome(100%)']>0]['FCFE/NetIncome(100%)'].min()

IBC_DCF2

<ipython-input-184-623bce44f2b4>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF2['totalRevenue_Growth_Rate(100%)'][1] = 0
C:\Users\SweeTat\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\SweeTat\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\SweeTat\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,fiscalDateEnding,totalRevenue,netIncome,operatingCashflow,capitalExpenditures,FreeCashFlowToEquity,FCFE/NetIncome(100%),Lowest_FCFE/NetIncome(100%),shifted_revenue,totalRevenue_Growth_Rate(100%),totalRevenue_Growth_Rate_Mean,NetIncomeMargin
0,2025-01-22,4.757202e+11,1.067952e+11,0,0,1.048472e+13,0.000000,0.000000,0.000000e+00,NaN,8.891837,0.000000
1,2024-01-22,4.368741e+11,9.807455e+10,0,0,9.628563e+12,0.000000,0.000000,4.012000e+11,0.000000,8.891837,0.000000
2,2023-01-22,4.012000e+11,9.006602e+10,0,0,8.842318e+12,0.000000,0.000000,3.817200e+11,5.103217,8.891837,0.000000
3,2022-01-22,3.817200e+11,8.569293e+10,0,0,8.412985e+12,0.000000,0.000000,3.631720e+11,5.107222,8.891837,0.000000
4,2021-09-30,3.631720e+11,9.468000e+10,104038000000,11085000000,9.295300e+10,98.175961,98.175961,2.716420e+11,33.695084,8.891837,0.260703
5,2020-09-30,2.716420e+11,5.741100e+10,80674000000,7309000000,7.336500e+10,127.789100,98.175961,2.565980e+11,5.862867,8.891837,0.211348
6,2019-09-30,2.565980e+11,5.525600e+10,69391000000,10495000000,5.889600e+10,106.587520,98.175961,2.655950e+11,-3.387488,8.891837,0.215341
7,2018-09-30,2.655950e+11,5.953100e+10,77434000000,13313000000,6.412100e+10,107.710269,98.175961,2.292340e+11,15.861958,8.891837,0.224142
8,2017-09-30,2.292340e+11,4.835100e+10,64225000000,12795000000,5.143000e+10,106.368017,98.175961,NaN,NaN,8.891837,0.210924

In [182]:
IBC_DCF2[IBC_DCF2['NetIncomeMargin']>0]['NetIncomeMargin'].mean()

0.22449157971590558

In [152]:
IBC_DCF2['totalRevenue_Growth_Rate_Mean'].iloc[2]

8.891837042931993

In [139]:
IBC_DCF['totalRevenue']

0    363172000000
1    271642000000
2    256598000000
3    265595000000
4    229234000000
Name: totalRevenue, dtype: int64

In [97]:
IBC1

,Symbol,AssetType,Name,Description,CIK,Exchange,Currency,Country,Sector,Industry,...,EPS_Growth_Avg_Perc,TotalDebt_FOR_DERatio,D/E Ratio,EntryPrice,Open,High,Low,Close,Volume,new_EntryPrice
0,AAPL,Common Stock,Apple Inc,Apple Inc. is an American multinational techno...,320193,NASDAQ,USD,USA,TECHNOLOGY,ELECTRONIC COMPUTERS,...,18.700149,140913000000,2.233524,104.907834,173.04,175.86,172.15,175.64,92135303.0,104.907834

In [64]:
# Final 

import pandas as pd
import requests
from bs4 import BeautifulSoup
def extractdata(stock,EarningorRevenue):

    # EarningorRevenue = [0] => Earning Estimate
    # EarningorRevenue = [1] => Revenue Estimate
    headers = {'User-Agent': 'Mozilla/5.0'}

    url = f"https://finance.yahoo.com/quote/{stock}/analysis?p={stock}"

    r = requests.get(url, headers=headers)
    # print(r.text)

    soup = BeautifulSoup(r.text, 'html.parser')
    # print(soup.prettify())
    Estimate_Table = soup.find_all("table", attrs={"class": "W(100%) M(0) BdB Bdc($seperatorColor) Mb(25px)"})
    table_thead = Estimate_Table[EarningorRevenue].thead.find_all("th")
    table_body = Estimate_Table[EarningorRevenue].find("tbody")

    headingitem = []
    table_data = []
    for i in table_thead:
    #     print(i.text)
        headingitem.append(i.text)
    for body in table_body:
        row_list = []
        for row in body:
            for item in row:
                row_list.append(item.text)        
        table_data.append(row_list)
    df = pd.DataFrame(table_data, columns = [headingitem])
    return df

In [65]:
stockname = 'AAPL'
Earning_Estimate = extractdata(stockname,0)
Revenue_Estimate = extractdata(stockname,1)

In [34]:
Earning_Estimate

,Earnings Estimate,Current Qtr. (Dec 2021),Next Qtr. (Mar 2022),Current Year (2022),Next Year (2023)
0,No. of Analysts,25,24,37,33
1,Avg. Estimate,1.88,1.32,5.74,6.18
2,Low Estimate,1.75,1.16,5.2,5.26
3,High Estimate,1.97,1.52,6.27,6.82
4,Year Ago EPS,1.68,1.4,5.61,5.74

In [35]:
Revenue_Estimate

,Revenue Estimate,Current Qtr. (Dec 2021),Next Qtr. (Mar 2022),Current Year (2022),Next Year (2023)
0,No. of Analysts,22,22,36,31
1,Avg. Estimate,118.18B,90.42B,381.72B,401.2B
2,Low Estimate,111.81B,83.26B,359.16B,300.5B
3,High Estimate,121.3B,98.28B,405.44B,445.58B
4,Year Ago Sales,N/A,N/A,365.82B,381.72B
5,Sales Growth (year/est),N/A,N/A,4.30%,5.10%

In [115]:
def changeMoneytoNumbers(df,targetRow,colnum = 3):
    m = {'K': 3, 'M': 6, 'B': 9, 'T': 12}
    col = Revenue_Estimate.columns.to_list()[colnum]
    firstcol = df.columns.to_list()[0]
    df = df[df[firstcol] == targetRow]
    df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]
    return(df)

In [116]:
targetRow = 'Avg. Estimate'
df = Revenue_Estimate
df1 = changeMoneytoNumbers(df,targetRow,colnum = 3)
df1 = changeMoneytoNumbers(df1,targetRow,colnum = 4)
df1

<ipython-input-115-84c5fb911957>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]

,Revenue Estimate,Current Qtr. (Dec 2021),Next Qtr. (Mar 2022),Current Year (2022),Next Year (2023)
1,Avg. Estimate,118.18B,90.42B,381720000000,401200000000

In [85]:
# Revenue_Estimate1 = Revenue_Estimate[Revenue_Estimate[col1] =='Avg. Estimate']
col3 = Revenue_Estimate.columns.to_list()[3]
targetRow = 'Avg. Estimate'
df = Revenue_Estimate
df1 = changeMoneytoNumbers(df,col3,targetRow)
df1

<ipython-input-82-007bae6cffcc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]] / 1000) for i in df[col]]

,Revenue Estimate,Current Qtr. (Dec 2021),Next Qtr. (Mar 2022),Current Year (2022),Next Year (2023)
1,Avg. Estimate,118.18B,90.42B,381720000,401.2B

In [69]:
col1 = Revenue_Estimate.columns.to_list()[0]
col3 = Revenue_Estimate.columns.to_list()[3]
col4 = Revenue_Estimate.columns.to_list()[4]
m = {'K': 3, 'M': 6, 'B': 9, 'T': 12}

Revenue_Estimate1 = Revenue_Estimate[Revenue_Estimate[col1] =='Avg. Estimate']
Revenue_Estimate1[col3] = [int(float(i[:-1]) * 10 ** m[i[-1]] / 1000) for i in Revenue_Estimate1[col3]]
Revenue_Estimate1[col4] = [int(float(i[:-1]) * 10 ** m[i[-1]] / 1000) for i in Revenue_Estimate1[col4]]
Revenue_Estimate1

<ipython-input-69-551fbeabd8e8>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Revenue_Estimate1[col3] = [int(float(i[:-1]) * 10 ** m[i[-1]] / 1000) for i in Revenue_Estimate1[col3]]
<ipython-input-69-551fbeabd8e8>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Revenue_Estimate1[col4] = [int(float(i[:-1]) * 10 ** m[i[-1]] / 1000) for i in Revenue_Estimate1[col4]]

,Revenue Estimate,Current Qtr. (Dec 2021),Next Qtr. (Mar 2022),Current Year (2022),Next Year (2023)
1,Avg. Estimate,118.18B,90.42B,381720000,401200000

In [64]:
Revenue_Estimate1[col3]

1    381720000
Name: (Current Year (2022),), dtype: int64