In [2]:
# install jupyterthemes
# !pip install jupyterthemes

# # upgrade to latest version
# !pip install --upgrade jupyterthemes
# !jt -l
# !jt -t oceans16 -T
# !jt -r
# !jt -t oceans16 -T -N -kl

In [3]:
# from IPython.core.display import display, HTML
# display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
# new vers

import requests
import pandas as pd
# from pandasgui import show
from alpha_vantage.alphavantage import AlphaVantage
from alpha_vantage.timeseries import TimeSeries

def display_all(df):
    with pd.option_context("display.max_rows", 100000, "display.max_columns", 100000): 
        display(df)

# ///////////////////////////////////////////////////////////
# FUNCTIONS FOR ALPHA VANTAGE
# ///////////////////////////////////////////////////////////
TIME_SERIES_INTRADAY = 'TIME_SERIES_INTRADAY'
TIME_SERIES_INTRADAY_EXTENDED = 'TIME_SERIES_INTRADAY_EXTENDED'
TIME_SERIES_DAILY = 'TIME_SERIES_DAILY'
TIME_SERIES_DAILY_ADJUSTED = 'TIME_SERIES_DAILY_ADJUSTED'
TIME_SERIES_WEEKLY = 'TIME_SERIES_WEEKLY'
TIME_SERIES_WEEKLY_ADJUSTED = 'TIME_SERIES_WEEKLY_ADJUSTED'
TIME_SERIES_MONTHLY = 'TIME_SERIES_MONTHLY'
TIME_SERIES_MONTHLY_ADJUSTED = 'TIME_SERIES_MONTHLY_ADJUSTED'
GLOBAL_QUOTE = 'GLOBAL_QUOTE'
SYMBOL_SEARCH = 'SYMBOL_SEARCH'
OVERVIEW = 'OVERVIEW'
EARNINGS = 'EARNINGS'
INCOME_STATEMENT = 'INCOME_STATEMENT'
BALANCE_SHEET = 'BALANCE_SHEET'
CASH_FLOW = 'CASH_FLOW'
LISTING_STATUS = 'LISTING_STATUS'
EARNINGS_CALENDAR = 'EARNINGS_CALENDAR'
IPO_CALENDAR = 'IPO_CALENDAR'
CURRENCY_EXCHANGE_RATE = 'CURRENCY_EXCHANGE_RATE'
FX_INTRADAY = 'FX_INTRADAY'
FX_DAILY = 'FX_DAILY'
FX_WEEKLY = 'FX_WEEKLY'
FX_MONTHLY = 'FX_MONTHLY'
CURRENCY_EXCHANGE_RATE = 'CURRENCY_EXCHANGE_RATE'
CRYPTO_RATING = 'CRYPTO_RATING'
CRYPTO_INTRADAY = 'CRYPTO_INTRADAY'
DIGITAL_CURRENCY_DAILY = 'DIGITAL_CURRENCY_DAILY'
DIGITAL_CURRENCY_WEEKLY = 'DIGITAL_CURRENCY_WEEKLY'
DIGITAL_CURRENCY_MONTHLY = 'DIGITAL_CURRENCY_MONTHLY'

# ///////////////////////////////////////////////////////////
# TIME SERIES FOR STOCK DATA
# ///////////////////////////////////////////////////////////
ONEMIN = 'Time Series (1min)'
FIVEMIN = 'Time Series (5min)'
FIVETEENMIN = 'Time Series (15min)'
THIRTYMIN = 'Time Series (30min)'
HOUR = 'Time Series (60min)'
FIVEMIN = 'Time Series (5min)'
DAILY = 'Time Series (Daily)' 
WEEKLY = 'Weekly Time Series'
WEEKLY_ADJ = 'Weekly Adjusted Time Series'
MONTLY = 'Monthly Time Series'
MONTLY_ADJ = 'Monthly Adjusted Time Series'
# /////////////////////////////////////////////////////////
# query fundamental stock data of selected type ///////////
# /////////////////////////////////////////////////////////
def query_fundamental_data(func, symbol, apikey, outputsize='full', datatype='json'):
    data = {
        "function": func,
        "symbol": symbol,
        "outputsize": outputsize, # (full) and (compact) are accepted
        "datatype": datatype,
        "apikey": apikey
    }
    return requests.get("https://www.alphavantage.co/query", data).json()

def get_fundamental_dataframe(json):
    df = pd.DataFrame(json['annualReports'])
    df.set_index('fiscalDateEnding', inplace=True)
    return df

# FOR EARNINGS
def get_fundamental_dataframe1(json):
    df = pd.DataFrame(json['annualEarnings'])
    df.set_index('fiscalDateEnding', inplace=True)
    return df

#For Overview
def get_fundamental_dataframe2(json):
    df = pd.DataFrame(json, index=[1])
#     df.set_index(inplace=True)
    return df

def query_timeseries_data(func, symbol, apikey, outputsize='full', datatype='json'):
    data = {
        "function": func,
        "symbol": symbol,
        "outputsize": outputsize, # (full) and (compact) are accepted
        "datatype": datatype,
        "apikey": apikey
    }
    return requests.get("https://www.alphavantage.co/query", data).json()

def get_timeseries_dataframe(json, type):
    df = pd.DataFrame.from_dict(json[type], orient= 'index')
    df.index =  pd.to_datetime(df.index, format='%Y-%m-%d')
    
    df = df.rename(columns={ '1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Close', '5. volume': 'Volume'})
    df = df.astype({'Open': 'float64', 'High': 'float64', 'Low': 'float64','Close': 'float64','Volume': 'float64',})
    df = df[[ 'Open', 'High', 'Low', 'Close', 'Volume']]
    return df

def get_data(stock, apikey):
    import time

    response_json = query_fundamental_data(INCOME_STATEMENT, stock, apikey)
    INCOME_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(BALANCE_SHEET, stock, apikey)
    BALANCE_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(CASH_FLOW, stock, apikey)
    CASHFLOW_DATA = get_fundamental_dataframe(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(EARNINGS, stock, apikey)
    EARNINGS_DATA = get_fundamental_dataframe1(response_json)
    time.sleep(12)

    response_json = query_fundamental_data(OVERVIEW, stock, apikey)
    OVERVIEW_DATA = get_fundamental_dataframe2(response_json)
    time.sleep(12)

    response_json = query_timeseries_data(TIME_SERIES_DAILY, stock, apikey)
    STOCKPRICE_DATA = get_timeseries_dataframe(response_json, DAILY)
    time.sleep(12)
    
    return INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA
# response_json1,response_json2,response_json3,response_json4
# ,INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,EARNINGS_DATA,OVERVIEW_DATA

In [5]:
# TESTING 

stocks = ['AAPL']
API = ['53K56OJAX5T2DQJZ']
for x,y in zip(stocks,API):
    print(x,y)
    INCOME_DATA,BALANCE_DATA,CASHFLOW_DATA,OVERVIEW_DATA,EARNINGS_DATA,STOCKPRICE_DATA = get_data(x,y)

    BALANCE_DATA = BALANCE_DATA.drop(['reportedCurrency'], axis = 1)
    CASHFLOW_DATA = CASHFLOW_DATA.drop(['reportedCurrency','netIncome'], axis = 1)

    # Define percentage change formula for EARNING data
    EARNINGS_DATA = EARNINGS_DATA.apply(pd.to_numeric)
    EARNINGS_DATA['shifted_EPS'] = EARNINGS_DATA.reportedEPS.shift(-1, axis = 0)
    EARNINGS_DATA['EPS_Growth_Rate']= 100*((EARNINGS_DATA['reportedEPS'] - EARNINGS_DATA['shifted_EPS'])/ abs(EARNINGS_DATA['shifted_EPS']))

    EARNINGS_DATA[['EPS_Growth_Avg_Perc']] = EARNINGS_DATA[:6]['EPS_Growth_Rate'].mean()

    # EARNINGS_DATA1 = EARNINGS_DATA1.reset_index(0).reset_index(drop=True)
    # EARNINGS_DATA1
    IBC = pd.merge(pd.merge(pd.merge(INCOME_DATA,BALANCE_DATA,on='fiscalDateEnding')
                            ,CASHFLOW_DATA,on='fiscalDateEnding')
                   ,EARNINGS_DATA,on='fiscalDateEnding')
    IBC = IBC.reset_index(0).reset_index(drop=True)

    IBC.replace('None', value=0, inplace=True)

    # # To replace change type to int after the column of 'reportedcurrency'
    index_no = IBC.columns.get_loc('reportedCurrency')
    index_no_starting = index_no+1
    IBC.iloc[:,index_no_starting:] = IBC.iloc[:,index_no_starting:].apply(pd.to_numeric)


    IBC['TotalDebt_FOR_DERatio'] = IBC['shortTermDebt']+IBC['longTermDebt']
    IBC['D/E Ratio'] = IBC['TotalDebt_FOR_DERatio']/IBC['totalShareholderEquity']

    IBC1 = IBC.copy()
    IBC1= pd.concat([OVERVIEW_DATA.reset_index(drop=True),IBC1.iloc[:1,:]], axis=1)
    IBC1['EntryPrice'] = IBC1['EPS_Growth_Avg_Perc'] * float(IBC1['EPS'])



    price = STOCKPRICE_DATA.iloc[:1,:].reset_index(drop=True)    
    IBC1 = pd.concat([IBC1,price], axis=1)

    IBC1['new_EntryPrice'] = [-x if y <0 else x for x,y in zip(IBC1['EntryPrice'],IBC1['EPS_Growth_Avg_Perc'])]

AAPL 53K56OJAX5T2DQJZ

In [6]:
IBC1

,Symbol,AssetType,Name,Description,CIK,Exchange,Currency,Country,Sector,Industry,...,EPS_Growth_Avg_Perc,TotalDebt_FOR_DERatio,D/E Ratio,EntryPrice,Open,High,Low,Close,Volume,new_EntryPrice
0,AAPL,Common Stock,Apple Inc,Apple Inc. is an American multinational techno...,320193,NASDAQ,USD,USA,TECHNOLOGY,ELECTRONIC COMPUTERS,...,3.718265,140913000000,2.233524,20.859465,172.32,175.18,170.82,175.08,75937685.0,20.859465

In [7]:
# Final 
def extractdata(stock,EarningorRevenue):
    from bs4 import BeautifulSoup
    
    # EarningorRevenue = [0] => Earning Estimate
    # EarningorRevenue = [1] => Revenue Estimate
    headers = {'User-Agent': 'Mozilla/5.0'}

    url = f"https://finance.yahoo.com/quote/{stock}/analysis?p={stock}"

    r = requests.get(url, headers=headers)
    # print(r.text)

    soup = BeautifulSoup(r.text, 'html.parser')
    # print(soup.prettify())
    Estimate_Table = soup.find_all("table", attrs={"class": "W(100%) M(0) BdB Bdc($seperatorColor) Mb(25px)"})
    table_thead = Estimate_Table[EarningorRevenue].thead.find_all("th")
    table_body = Estimate_Table[EarningorRevenue].find("tbody")

    headingitem = []
    table_data = []
    for i in table_thead:
    #     print(i.text)
        headingitem.append(i.text)
    for body in table_body:
        row_list = []
        for row in body:
            for item in row:
                row_list.append(item.text)        
        table_data.append(row_list)
    df = pd.DataFrame(table_data, columns = [headingitem])
    return df

In [8]:
Revenue_Estimate = extractdata('AAPL',1)
Revenue_Estimate

,Revenue Estimate,Current Qtr. (Dec 2021),Next Qtr. (Mar 2022),Current Year (2022),Next Year (2023)
0,No. of Analysts,22,22,37,32
1,Avg. Estimate,118.17B,90.41B,381.75B,401.25B
2,Low Estimate,111.81B,83.26B,359.16B,300.5B
3,High Estimate,121.3B,98.28B,405.44B,445.58B
4,Year Ago Sales,N/A,N/A,365.82B,381.75B
5,Sales Growth (year/est),N/A,N/A,4.40%,5.10%

In [9]:
def changeMoneytoNumbers(df,targetRow,colnum = 3):
    m = {'K': 3, 'M': 6, 'B': 9, 'T': 12}
    col = Revenue_Estimate.columns.to_list()[colnum]
    firstcol = df.columns.to_list()[0]
    df = df[df[firstcol] == targetRow]
    df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]
    return(df)


targetRow = 'Avg. Estimate'
df = Revenue_Estimate
df1 = changeMoneytoNumbers(df,targetRow,colnum = 3)
df1 = changeMoneytoNumbers(df1,targetRow,colnum = 4)
# df1

#  to get analyst value
analystval = df1.iloc[:,-2:].values.tolist()[0]

analystval[0], analystval[1] = analystval[1], analystval[0]
analystval

C:\Users\sweet\AppData\Local\Temp/ipykernel_17248/1351565248.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = [int(float(i[:-1]) * 10 ** m[i[-1]]) for i in df[col]]

[401250000000, 381750000000]

In [10]:
IBC_DCF = IBC.copy()
IBC_DCF

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,...,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,reportedEPS,shifted_EPS,EPS_Growth_Rate,EPS_Growth_Avg_Perc,TotalDebt_FOR_DERatio,D/E Ratio
0,2021-09-30,USD,152836000000,363172000000,234954000000,212981000000,108949000000,21973000000,21914000000,43887000000,...,-84866000000,0,-3860000000,0,5.62,3.2700,71.865443,3.718265,140913000000,2.233524
1,2020-09-30,USD,104956000000,271642000000,189475000000,169559000000,66288000000,19916000000,18752000000,38668000000,...,-71478000000,0,-10435000000,0,3.27,2.9800,9.731544,3.718265,130869000000,2.002923
2,2019-09-30,USD,98392000000,256598000000,180027000000,161782000000,63930000000,18245000000,16217000000,34462000000,...,-66116000000,0,24311000000,0,2.98,2.9700,0.336700,3.718265,123740000000,1.367474
3,2018-09-30,USD,101839000000,265595000000,163756000000,163756000000,70898000000,16705000000,14236000000,30941000000,...,-72069000000,0,5624000000,0,2.97,2.3000,29.130435,3.718265,123948000000,1.156803
4,2017-09-30,USD,88186000000,229234000000,141048000000,141048000000,61344000000,15261000000,11581000000,26842000000,...,-32345000000,0,-195000000,0,2.30,2.0675,11.245466,3.718265,124573000000,0.929323

In [11]:
display_all(IBC)

,fiscalDateEnding,reportedCurrency,grossProfit,totalRevenue,costOfRevenue,costofGoodsAndServicesSold,operatingIncome,sellingGeneralAndAdministrative,researchAndDevelopment,operatingExpenses,investmentIncomeNet,netInterestIncome,interestIncome,interestExpense,nonInterestIncome,otherNonOperatingIncome,depreciation,depreciationAndAmortization,incomeBeforeTax,incomeTaxExpense,interestAndDebtExpense,netIncomeFromContinuingOperations,comprehensiveIncomeNetOfTax,ebit,ebitda,netIncome,totalAssets,totalCurrentAssets,cashAndCashEquivalentsAtCarryingValue,cashAndShortTermInvestments,inventory,currentNetReceivables,totalNonCurrentAssets,propertyPlantEquipment,accumulatedDepreciationAmortizationPPE,intangibleAssets,intangibleAssetsExcludingGoodwill,goodwill,investments,longTermInvestments,shortTermInvestments,otherCurrentAssets,otherNonCurrrentAssets,totalLiabilities,totalCurrentLiabilities,currentAccountsPayable,deferredRevenue,currentDebt,shortTermDebt,totalNonCurrentLiabilities,capitalLeaseObligations,longTermDebt,currentLongTermDebt,longTermDebtNoncurrent,shortLongTermDebtTotal,otherCurrentLiabilities,otherNonCurrentLiabilities,totalShareholderEquity,treasuryStock,retainedEarnings,commonStock,commonStockSharesOutstanding,operatingCashflow,paymentsForOperatingActivities,proceedsFromOperatingActivities,changeInOperatingLiabilities,changeInOperatingAssets,depreciationDepletionAndAmortization,capitalExpenditures,changeInReceivables,changeInInventory,profitLoss,cashflowFromInvestment,cashflowFromFinancing,proceedsFromRepaymentsOfShortTermDebt,paymentsForRepurchaseOfCommonStock,paymentsForRepurchaseOfEquity,paymentsForRepurchaseOfPreferredStock,dividendPayout,dividendPayoutCommonStock,dividendPayoutPreferredStock,proceedsFromIssuanceOfCommonStock,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,proceedsFromIssuanceOfPreferredStock,proceedsFromRepurchaseOfEquity,proceedsFromSaleOfTreasuryStock,changeInCashAndCashEquivalents,changeInExchangeRate,reportedEPS,shifted_EPS,EPS_Growth_Rate,EPS_Growth_Avg_Perc,TotalDebt_FOR_DERatio,D/E Ratio
0,2021-09-30,USD,152836000000,363172000000,234954000000,212981000000,108949000000,21973000000,21914000000,43887000000,2843000000,-2645000000,2843000000,2645000000,365817000000,60000000,9500000000,11284000000,109207000000,14527000000,2645000000,94680000000,95249000000,111852000000,123136000000,94680000000,351002000000,134836000000,34940000000,62639000000,6580000000,51506000000,216166000000,39440000000,70283000000,0,0,0,318994000000,127877000000,27699000000,14111000000,48849000000,287912000000,125481000000,54763000000,19512000000,15692000000,6000000000,162431000000,769000000,134913000000,9613000000,109106000000,241783000000,47493000000,53325000000,63090000000,0,5562000000,57365000000,16426786000,104038000000,4087000000,0,19801000000,24712000000,11284000000,11085000000,14028000000,2642000000,94680000000,-14545000000,-93353000000,2044000000,85971000000,85971000000,0,14467000000,14467000000,0,1105000000,20393000000,0,-84866000000,0,-3860000000,0,5.62,3.2700,71.865443,3.718265,140913000000,2.233524
1,2020-09-30,USD,104956000000,271642000000,189475000000,169559000000,66288000000,19916000000,18752000000,38668000000,3763000000,-2873000000,3763000000,2873000000,274515000000,-87000000,9700000000,11056000000,67091000000,9680000000,2873000000,57411000000,57453000000,69964000000,81020000000,57411000000,323888000000,143713000000,38016000000,90943000000,4061000000,37445000000,180175000000,36766000000,66760000000,0,0,0,345644000000,100887000000,52927000000,11264000000,42522000000,258549000000,105392000000,42296000000,16843000000,13793000000,4996000000,153157000000,637000000,125873000000,8773000000,98667000000,216860000000,42684000000,54490000000,65339000000,0,14966000000,50779000000,16976763000,80674000000,4502000000,0,6935000000,1245000000,11056000000,7309000000,-8470000000,127000000,57411000000,-4289000000,-86820000000,-1926000000,72358000000,72358000000,0,14081000000,14081000000,0,880000000,16091000000,0,-71478000000,0,-10435000000,0,3.27,2.9800,9.731544,3.718265,130869000000,2.002923
2,2019-09-30,USD,98392000000,256598000000,180027000000,161782000000,63930000000,18245000000,16217000000,34462000000,4961000000,-3576000000,4961000000,3576000000,260174000000,422000000,11300000000,12547000000,65737000000,10481000000,3576000000,55256000000,58037000000,69313000000,81860000000,55256000000,338516000000,162819000000,48844000000,100557000000,4106000000,45804000000,175697000000,37378000000,58579000000,0,0,0,362952000000,105341000000,51713000000,12352000000,32978000000,248028000000,105718000000,46236000000,13622000000,16240000000,5980000000,142310000000,0,117760000000,10260000000,91807000000,209135000000,37720000000,50503000000,90488000000,0,45898000000,45174000000,4443236000,69391000000,3423000000,0,-7248000000,-3760000000,12547000000,10495000000,-3176000000,289000000,55256000000,45896000000,-90976000000,-11954000000,66897000000,66897000000,0,14119000000,14119000000,0,781000000,6963000000,0,-66116000000,0,24311000000,0,2.98,2.9700,0.336700,3.718265,123740000000,1.367474
3,2018-09-30,USD,101839000000,265595000000,163756000000,163756000000,70898000000,16705000000,14236000000,30941000000,5686000000,-3240000000,5686000000,3240000000,265595000000,-441000000,9300000000,10903000000,72903000000,13372000000,3240000000,59531000000,56505000000,76143000000,87046000000,59531000000,365725000000,131339000000,25913000000,25913000000,3956000000,48995000000,234386000000,41304000000,49099000000,0,0,0,448287000000,170799000000,40388000000,12087000000,22283000000,258578000000,115929000000,55888000000,14766000000,20748000000,11964000000,142649000000,0,111984000000,8784000000,93735000000,220132000000,33327000000,48914000000,107147000000,0,70400000000,40201000000,4754986000,77434000000,3022000000,0,47665000000,12927000000,10903000000,13313000000,13332000000,-828000000,59531000000,16066000000,-87876000000,-74000000,72738000000,72738000000,0,13712000000,13712000000,0,669000000,6969000000,0,-72069000000,0,5624000000,0,2.97,2.3000,29.130435,3.718265,123948000000,1.156803
4,2017-09-30,USD,88186000000,229234000000,141048000000,141048000000,61344000000,15261000000,11581000000,26842000000,5201000000,-2323000000,5201000000,2323000000,229234000000,-133000000,8200000000,1200000000,64089000000,15738000000,2323000000,48351000000,47567000000,66412000000,67612000000,48351000000,375319000000,128645000000,20289000000,74181000000,4855000000,35673000000,246674000000,33783000000,41293000000,8015000000,2298000000,5717000000,268895000000,194714000000,53892000000,13936000000,18177000000,241272000000,100814000000,44242000000,10384000000,18473000000,11977000000,140458000000,0,112596000000,6496000000,97207000000,219794000000,30551000000,40415000000,134047000000,0,98330000000,35867000000,5126201000,64225000000,2092000000,0,8838000000,14388000000,10157000000,12795000000,6347000000,2723000000,48351000000,-46446000000,-17974000000,7704000000,32900000000,32900000000,0,12769000000,12563000000,0,555000000,28662000000,0,-32345000000,0,-195000000,0,2.30,2.0675,11.245466,3.718265,124573000000,0.929323

In [12]:
# interestAndDebtExpense

NameError: name 'interestAndDebtExpense' is not defined

In [13]:
def findcolnamematch(df,nameincluded):
#     nameincluded = 'income'
    cols=[]
    for i in df.columns.to_list():
        x = i.lower()
        if nameincluded in x:
            cols.append(i)
    return cols

In [14]:
cols = findcolnamematch(IBC,'debt')
IBC[cols]

,interestAndDebtExpense,currentDebt,shortTermDebt,longTermDebt,currentLongTermDebt,longTermDebtNoncurrent,shortLongTermDebtTotal,proceedsFromRepaymentsOfShortTermDebt,proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,TotalDebt_FOR_DERatio
0,2645000000,15692000000,6000000000,134913000000,9613000000,109106000000,241783000000,2044000000,20393000000,140913000000
1,2873000000,13793000000,4996000000,125873000000,8773000000,98667000000,216860000000,-1926000000,16091000000,130869000000
2,3576000000,16240000000,5980000000,117760000000,10260000000,91807000000,209135000000,-11954000000,6963000000,123740000000
3,3240000000,20748000000,11964000000,111984000000,8784000000,93735000000,220132000000,-74000000,6969000000,123948000000
4,2323000000,18473000000,11977000000,112596000000,6496000000,97207000000,219794000000,7704000000,28662000000,124573000000

In [15]:
col = ['fiscalDateEnding','totalRevenue','netIncome','operatingCashflow','capitalExpenditures','interestAndDebtExpense','currentLongTermDebt','longTermDebtNoncurrent']
IBC_DCF1 = IBC_DCF[col]
IBC_DCF1['FreeCashFlowToEquity'] = IBC_DCF1['operatingCashflow'] - IBC_DCF1['capitalExpenditures']
IBC_DCF1['FCFE/NetIncome(100%)'] = (IBC_DCF1['FreeCashFlowToEquity'] / IBC_DCF1['netIncome'])*100
IBC_DCF1['Lowest_FCFE/NetIncome(100%)'] = IBC_DCF1['FCFE/NetIncome(100%)'].min()

#create 2 years of blank data
listofna = (len(IBC_DCF1.columns)-1)*[0]
date = ['2025-01-22','2024-01-22','2023-01-22','2022-01-22']
row=[]
for i in date:
    onedate = []
    onedate.append(i)
    for j in listofna:
        onedate.append(j)
    row.append(onedate)
    
# putting blank row into the df    
colss = IBC_DCF1.columns.to_list()
newrow = pd.DataFrame(row,columns = colss).reset_index(drop=True)
IBC_DCF1 = pd.concat([newrow, IBC_DCF1], ignore_index=True, axis=0)

# Replace the analyst avg rating into the df
IBC_DCF1.iloc[2:4,1] = analystval


IBC_DCF1

C:\Users\sweet\AppData\Local\Temp/ipykernel_17248/1629541640.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['FreeCashFlowToEquity'] = IBC_DCF1['operatingCashflow'] - IBC_DCF1['capitalExpenditures']
C:\Users\sweet\AppData\Local\Temp/ipykernel_17248/1629541640.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['FCFE/NetIncome(100%)'] = (IBC_DCF1['FreeCashFlowToEquity'] / IBC_DCF1['netIncome'])*100
C:\Users\sweet\AppData\Local\Temp/ipykernel_17248/1629541640.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF1['Lowest_FCFE/NetIncome(100%)'] = IBC_DCF1['FCFE/NetIncome(100%)'].min()

,fiscalDateEnding,totalRevenue,netIncome,operatingCashflow,capitalExpenditures,interestAndDebtExpense,currentLongTermDebt,longTermDebtNoncurrent,FreeCashFlowToEquity,FCFE/NetIncome(100%),Lowest_FCFE/NetIncome(100%)
0,2025-01-22,0,0,0,0,0,0,0,0,0.000000,0.000000
1,2024-01-22,0,0,0,0,0,0,0,0,0.000000,0.000000
2,2023-01-22,401250000000,0,0,0,0,0,0,0,0.000000,0.000000
3,2022-01-22,381750000000,0,0,0,0,0,0,0,0.000000,0.000000
4,2021-09-30,363172000000,94680000000,104038000000,11085000000,2645000000,9613000000,109106000000,92953000000,98.175961,98.175961
5,2020-09-30,271642000000,57411000000,80674000000,7309000000,2873000000,8773000000,98667000000,73365000000,127.789100,98.175961
6,2019-09-30,256598000000,55256000000,69391000000,10495000000,3576000000,10260000000,91807000000,58896000000,106.587520,98.175961
7,2018-09-30,265595000000,59531000000,77434000000,13313000000,3240000000,8784000000,93735000000,64121000000,107.710269,98.175961
8,2017-09-30,229234000000,48351000000,64225000000,12795000000,2323000000,6496000000,97207000000,51430000000,106.368017,98.175961

In [16]:

def totalrevenueExtension(df,rownum):
    df['totalRevenue'].iloc[rownum] = ( df['totalRevenue'].iloc[rownum+1]*(100 +  df['totalRevenue_Growth_Rate_Mean'].iloc[rownum+1]))/100
    return df

In [17]:
IBC_DCF2 = IBC_DCF1.copy()
IBC_DCF2['shifted_revenue'] = IBC_DCF2.totalRevenue.shift(-1, axis = 0)
IBC_DCF2['totalRevenue_Growth_Rate(100%)']= 100*((IBC_DCF2['totalRevenue'] - IBC_DCF2['shifted_revenue'])/ abs(IBC_DCF2['shifted_revenue']))
IBC_DCF2['totalRevenue_Growth_Rate(100%)'][1] = 0
IBC_DCF2['totalRevenue_Growth_Rate_Mean'] = IBC_DCF2['totalRevenue_Growth_Rate(100%)'].mean()
# IBC_DCF2['totalRevenue'].iloc[1] = ( IBC_DCF2['totalRevenue'].iloc[2]*(100 +  IBC_DCF2['totalRevenue_Growth_Rate_Mean'].iloc[2]))/100
IBC_DCF2 = totalrevenueExtension(IBC_DCF2,1)
IBC_DCF2 = totalrevenueExtension(IBC_DCF2,0)
IBC_DCF2['NetIncomeMargin'] = IBC_DCF2['netIncome'] / IBC_DCF2['totalRevenue']
IBC_DCF2['netIncome'].iloc[:4] = IBC_DCF2['totalRevenue'].iloc[:4] * IBC_DCF2[IBC_DCF2['NetIncomeMargin']>0]['NetIncomeMargin'].mean()
IBC_DCF2['FreeCashFlowToEquity'].iloc[:4] = IBC_DCF2['netIncome'].iloc[:4]* IBC_DCF2[IBC_DCF2['FCFE/NetIncome(100%)']>0]['FCFE/NetIncome(100%)'].min()

IBC_DCF2

C:\Users\sweet\AppData\Local\Temp/ipykernel_17248/3671894814.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  IBC_DCF2['totalRevenue_Growth_Rate(100%)'][1] = 0
C:\Users\sweet\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,fiscalDateEnding,totalRevenue,netIncome,operatingCashflow,capitalExpenditures,interestAndDebtExpense,currentLongTermDebt,longTermDebtNoncurrent,FreeCashFlowToEquity,FCFE/NetIncome(100%),Lowest_FCFE/NetIncome(100%),shifted_revenue,totalRevenue_Growth_Rate(100%),totalRevenue_Growth_Rate_Mean,NetIncomeMargin
0,2025-01-22,4.757958e+11,1.068122e+11,0,0,0,0,0,1.048639e+13,0.000000,0.000000,0.000000e+00,NaN,8.893708,0.000000
1,2024-01-22,4.369360e+11,9.808845e+10,0,0,0,0,0,9.629928e+12,0.000000,0.000000,4.012500e+11,0.000000,8.893708,0.000000
2,2023-01-22,4.012500e+11,9.007725e+10,0,0,0,0,0,8.843420e+12,0.000000,0.000000,3.817500e+11,5.108055,8.893708,0.000000
3,2022-01-22,3.817500e+11,8.569966e+10,0,0,0,0,0,8.413647e+12,0.000000,0.000000,3.631720e+11,5.115482,8.893708,0.000000
4,2021-09-30,3.631720e+11,9.468000e+10,104038000000,11085000000,2645000000,9613000000,109106000000,9.295300e+10,98.175961,98.175961,2.716420e+11,33.695084,8.893708,0.260703
5,2020-09-30,2.716420e+11,5.741100e+10,80674000000,7309000000,2873000000,8773000000,98667000000,7.336500e+10,127.789100,98.175961,2.565980e+11,5.862867,8.893708,0.211348
6,2019-09-30,2.565980e+11,5.525600e+10,69391000000,10495000000,3576000000,10260000000,91807000000,5.889600e+10,106.587520,98.175961,2.655950e+11,-3.387488,8.893708,0.215341
7,2018-09-30,2.655950e+11,5.953100e+10,77434000000,13313000000,3240000000,8784000000,93735000000,6.412100e+10,107.710269,98.175961,2.292340e+11,15.861958,8.893708,0.224142
8,2017-09-30,2.292340e+11,4.835100e+10,64225000000,12795000000,2323000000,6496000000,97207000000,5.143000e+10,106.368017,98.175961,NaN,NaN,8.893708,0.210924

In [18]:
import requests
from bs4 import BeautifulSoup
def obtainbetabond(stock):
#     stock = 'AAPL'
#     allitems = []
    
    headers = {'User-Agent': 'Mozilla/5.0'}

    url_beta = f'https://finance.yahoo.com/quote/{stock}/key-statistics?p={stock}'

    
    r_beta = requests.get(url_beta, headers=headers)

    soup_beta = BeautifulSoup(r_beta.text, 'html.parser')
    beta = soup_beta.find("td", attrs={"data-reactid": "97"}).text
#     beta = []
#     for i in soup_beta.find("tr", attrs={"class": "Bxz(bb) H(36px) BdY Bdc($seperatorColor)"}):
# #         specificbeta = i
#         beta.append(i.text)
#     print(i.text)
# ======================================================
    url_bond = f'https://finance.yahoo.com/bonds'
    r_bond = requests.get(url_bond, headers=headers)
    soup_bond = BeautifulSoup(r_bond.text, 'html.parser')

    qqq_bond = soup_bond.find("table", attrs={"class": "W(100%)"})

    treasurybond = []
    for j in qqq_bond.tbody.find_all("tr")[2]:
        treasurybond.append(j.text)
    bondvalue = treasurybond[2]
    return stock,bondvalue, beta

In [19]:
stocksss = ['AAPL']
listofStockBondBeta = []
for i in stocksss:
#     a,b,c = obtainbetabond('AAPL')
    listofStockBondBeta.append(list(obtainbetabond(i)))
listofStockBondBeta

[['AAPL', '1.7460', '1.20']]

In [20]:
rd = (IBC_DCF2['interestAndDebtExpense'][7]/(IBC_DCF2['currentLongTermDebt'][7]+IBC_DCF2['longTermDebtNoncurrent'][7]))*100
rd

3.1603897814063733

In [21]:
# WACC = wdrd(1-t) + were